Repository f4pga/prjxray, pull requests merged in 2018-10, with the labels that each got.

#133 Add methods to prjxray library.
  fuzzers/074-dump_all/reduce_tile_types.py
  prjxray/db.py
  prjxray/grid.py
  prjxray/lib.py
  prjxray/site_type.py
  prjxray/tile.py
  tools/quick_test.py
Labels: fuzzers, tools

#130 roi_harness: small project option
  minitests/roi_harness/.gitignore
  minitests/roi_harness/Makefile
  minitests/roi_harness/defines.v
  minitests/roi_harness/runme.sh
  minitests/roi_harness/runme.tcl
Labels: minitests

#139 Hack to make new tilegrid play nice with non-updated utilities
  fuzzers/005-tilegrid/generate.py
  fuzzers/074-dump_all/generate_after_dump.sh
  fuzzers/074-dump_all/generate_grid.py
  tools/fasm2frame.py
  tools/segprint2fasm.py
  utils/merge_tilegrid.py
  utils/segprint.py
Labels: fuzzers, tools

#142 Add ROI annotations and update some missing tilegrid changes.
  fuzzers/074-dump_all/generate_after_dump.sh
  minitests/roi_harness/Makefile
  prjxray/connections.py
  prjxray/grid.py
  utils/merge_tilegrid.py
Labels: fuzzers, minitests, tools

#126 timing site fuzzer
  fuzzers/007-timing/Makefile
  fuzzers/007-timing/checksub.py
  fuzzers/007-timing/corner_csv.py
  fuzzers/007-timing/csv_flat2group.py
  fuzzers/007-timing/csv_group2flat.py
  fuzzers/007-timing/minitest/test_cell_opins.tcl
  fuzzers/007-timing/minitest/test_linprog.py
  fuzzers/007-timing/minitest/test_unique/.gitignore
  fuzzers/007-timing/minitest/test_unique/Makefile
  fuzzers/007-timing/minitest/test_unique/README.md
  fuzzers/007-timing/minitest/test_unique/generate.sh
  fuzzers/007-timing/minitest/test_unique/generate.tcl
  fuzzers/007-timing/minitest/test_unique/node_unique.py
  fuzzers/007-timing/minitest/test_unique/perf_test.py
  fuzzers/007-timing/minitest/test_unique/pip_unique.py
  fuzzers/007-timing/minitest/test_unique/top.v
  fuzzers/007-timing/minitest/test_unique/wire_unique.py
  fuzzers/007-timing/minitest/test_zero/README.md
  fuzzers/007-timing/minitest/test_zero/process.py
  fuzzers/007-timing/projects/corner.mk
  fuzzers/007-timing/projects/generate.sh
  fuzzers/007-timing/projects/is.mk
  fuzzers/007-timing/projects/oneblinkw/generate.tcl
  fuzzers/007-timing/projects/picorv32/generate.tcl
  fuzzers/007-timing/projects/placelut/generate.sh
  fuzzers/007-timing/projects/placelut/generate.tcl
  fuzzers/007-timing/projects/placelut_fb/generate.tcl
  fuzzers/007-timing/projects/placelut_ff_fb/generate.tcl
  fuzzers/007-timing/projects/project.mk
  fuzzers/007-timing/projects/project.tcl
  fuzzers/007-timing/rref.py
  fuzzers/007-timing/solve_leastsq.py
  fuzzers/007-timing/solve_linprog.py
  fuzzers/007-timing/solve_qor.py
  fuzzers/007-timing/tile_annotate.py
  fuzzers/007-timing/timfuz.py
  fuzzers/007-timing/timfuz_massage.py
  fuzzers/007-timing/timfuz_solve.py
  fuzzers/007-timing/timgrid_vc2v.py
  fuzzers/007-timing/timing_txt2csv.py
  fuzzers/007-timing/timing_txt2icsv.py
  fuzzers/007-timing/timing_txt2json.py
  fuzzers/007-timing/timing_txt2scsv.py
  utils/genheader.sh
Labels: docs, fuzzers

#148 Changes from trying to generate updated database
  .gitignore
  Makefile
  fuzzers/074-dump_all/generate_after_dump.sh
  prjxray/lib.py
Labels: fuzzers

#159 tilegrid multiple address support, misc cleanup
  fuzzers/005-tilegrid/generate.py
  fuzzers/005-tilegrid/generate.tcl
  fuzzers/005-tilegrid/top.v
  fuzzers/010-lutinit/generate.py
  fuzzers/070-tileconn/.gitignore
  fuzzers/070-tileconn/Makefile
  fuzzers/070-tileconn/generate.py
  fuzzers/070-tileconn/generate.sh
  fuzzers/070-tileconn/generate.tcl
  fuzzers/070-tileconn/top.v
  htmlgen/htmlgen.py
  tools/fasm2frame.py
  tools/segprint2fasm.py
  tools/test_data/ff_int/design.segp
  tools/test_data/lut_int/design.segp
  tools/test_segprint2fasm.py
  utils/bits2fasm.py
  utils/environment.sh
  utils/fasm2frames.py
  utils/quick_test.py
  utils/segmaker.py
  utils/simpleroute.py
  utils/test_data/ff_int.fasm
  utils/test_data/ff_int/.gitignore
  utils/test_data/ff_int/design.bits
  utils/test_data/ff_int/top.v
  utils/test_data/ff_int_0s.fasm
  utils/test_data/ff_int_op1.fasm
  utils/test_data/lut.fasm
  utils/test_data/lut_int.fasm
  utils/test_data/lut_int/.gitignore
  utils/test_data/lut_int/design.bits
  utils/test_data/lut_int/top.v
  utils/test_fasm2frames.py
  utils/verify_tile_connections.py
Labels: fuzzers, tools

#160 fuzzers: fix addtag regression
  fuzzers/011-ffconfig/generate.py
  fuzzers/012-clbn5ffmux/generate.py
  fuzzers/013-clbncy0/generate.py
  fuzzers/014-ffsrcemux/generate.py
  fuzzers/015-clbnffmux/generate.py
  fuzzers/016-clbnoutmux/generate.py
  fuzzers/017-clbprecyinit/generate.py
  fuzzers/018-clbram/generate.py
  fuzzers/019-ndi1mux/generate.py
  fuzzers/050-intpips/generate.py
  fuzzers/051-imuxlout/generate.py
  fuzzers/052-clkin/generate.py
  fuzzers/053-ctrlin/generate.py
  fuzzers/054-gfan/generate.py
  fuzzers/055-gnd/generate.py
  fuzzers/056-rempips/generate.py
  fuzzers/057-bipips/generate.py
  fuzzers/058-hclkpips/generate.py
  fuzzers/100-dsp-mskpat/generate.py
Labels: fuzzers

#161 segmaker.py: move to prjxray, class segmaker => Segmaker
  experiments/clbpips/generate.py
  experiments/gndvcc/generate.py
  experiments/pipsroute/generate.py
  fuzzers/010-lutinit/generate.py
  fuzzers/011-ffconfig/generate.py
  fuzzers/012-clbn5ffmux/generate.py
  fuzzers/013-clbncy0/generate.py
  fuzzers/014-ffsrcemux/generate.py
  fuzzers/015-clbnffmux/generate.py
  fuzzers/016-clbnoutmux/generate.py
  fuzzers/017-clbprecyinit/generate.py
  fuzzers/018-clbram/generate.py
  fuzzers/019-ndi1mux/generate.py
  fuzzers/050-intpips/generate.py
  fuzzers/051-imuxlout/generate.py
  fuzzers/052-clkin/generate.py
  fuzzers/053-ctrlin/generate.py
  fuzzers/054-gfan/generate.py
  fuzzers/055-gnd/generate.py
  fuzzers/056-rempips/generate.py
  fuzzers/057-bipips/generate.py
  fuzzers/058-hclkpips/generate.py
  fuzzers/100-dsp-mskpat/generate.py
  prjxray/segmaker.py
Labels: experiments, fuzzers

#162 018-clbram: query SLICEM instead of guessing
  fuzzers/018-clbram/top.py
  prjxray/util.py
Labels: fuzzers

#163 019-ndi1mux: query SLICEM instead of guessing
  fuzzers/018-clbram/top.py
  fuzzers/019-ndi1mux/top.py
Labels: fuzzers

#164 Gen sites cleanup
  fuzzers/011-ffconfig/top.py
  fuzzers/012-clbn5ffmux/top.py
  fuzzers/013-clbncy0/top.py
  fuzzers/014-ffsrcemux/top.py
  fuzzers/015-clbnffmux/top.py
  fuzzers/016-clbnoutmux/top.py
Labels: fuzzers

#166 fuzzers: remove db assert where possible
  fuzzers/015-clbnffmux/generate.py
  fuzzers/016-clbnoutmux/generate.py
  fuzzers/018-clbram/generate.py
  prjxray/util.py
Labels: fuzzers

#174 Allow empty segement generation on select fuzzers that loop
  fuzzers/051-imuxlout/generate.py
  fuzzers/052-clkin/generate.py
  fuzzers/053-ctrlin/generate.py
  fuzzers/057-bipips/generate.py
  prjxray/segmaker.py
Labels: fuzzers

#179 Fix indirection.
  fuzzers/014-ffsrcemux/top.py
Labels: fuzzers

#180 BRAM data
  fuzzers/005-tilegrid/generate.py
  fuzzers/102-bram-data/.gitignore
  fuzzers/102-bram-data/Makefile
  fuzzers/102-bram-data/README.md
  fuzzers/102-bram-data/generate.py
  fuzzers/102-bram-data/generate.sh
  fuzzers/102-bram-data/generate.tcl
  fuzzers/102-bram-data/top.py
  minitests/bram/Makefile
  minitests/bram/README.md
  minitests/bram_basic/.gitignore
  minitests/bram_basic/Makefile
  minitests/bram_basic/README.md
  minitests/bram_basic/diff.mk
  minitests/bram_basic/env.sh
  minitests/bram_basic/runme.sh
  minitests/bram_basic/runme.tcl
  minitests/bram_basic/top.v
  minitests/bram_diff/.gitignore
  minitests/bram_diff/Makefile
  minitests/bram_diff/README.md
  minitests/bram_diff/env.sh
  minitests/bram_diff/runme.sh
  minitests/bram_diff/runme.tcl
  minitests/bram_diff/top_CLKARDCLK_INV.v
  minitests/bram_diff/top_CLKBWRCLK_INV.v
  minitests/bram_diff/top_ENARDEN_INV.v
  minitests/bram_diff/top_ENBWREN_INV.v
  minitests/bram_diff/top_RAM_MODE_SDP.v
  minitests/bram_diff/top_RSTRAMARSTRAM_INV.v
  minitests/bram_diff/top_RSTRAMB_INV.v
  minitests/bram_diff/top_RSTREGARSTREG_INV.v
  minitests/bram_diff/top_RSTREGB_INV.v
  minitests/bram_diff/top_WRITE_MODE_A_NC.v
  minitests/bram_diff/top_WRITE_MODE_A_RF.v
  minitests/bram_diff/top_ref.v
  prjxray/segmaker.py
  prjxray/verilog.py
  utils/genheader.sh
  utils/mergedb.sh
Labels: docs, fuzzers, minitests

#182 fuzzers: replace inline verilog with top_harnesS()
  fuzzers/011-ffconfig/top.py
  fuzzers/012-clbn5ffmux/top.py
  fuzzers/013-clbncy0/top.py
  fuzzers/014-ffsrcemux/top.py
  fuzzers/015-clbnffmux/top.py
  fuzzers/016-clbnoutmux/top.py
  fuzzers/017-clbprecyinit/top.py
  fuzzers/018-clbram/top.py
  fuzzers/019-ndi1mux/top.py
Labels: fuzzers

#186 blockwidth: tool to print minor address groups
  utils/blockwidth.py
  utils/environment.sh
Labels: tools

#187 blockwidth: shrink minor address print
  utils/blockwidth.py
Labels: tools

#188 Make 005-tilegrid emit entire part, and have 074-dump_all not overwri…
  fuzzers/005-tilegrid/generate.py
  fuzzers/005-tilegrid/generate.tcl
  fuzzers/074-dump_all/generate_after_dump.sh
  fuzzers/074-dump_all/generate_grid.py
  utils/merge_tilegrid.py
Labels: fuzzers, tools

#191 minitests/roi_harness: Add XRAY_PIN values valid for Arty.
  minitests/roi_harness/Makefile
  minitests/roi_harness/arty.sh
Labels: minitests

#196 bram: DO_REG, SRVAL, INIT
  fuzzers/101-bram-config/generate.py
  fuzzers/101-bram-config/top.py
  fuzzers/102-bram-data/.gitignore
  fuzzers/102-bram-data/Makefile
  fuzzers/102-bram-data/generate.sh
  prjxray/segmaker.py
  prjxray/verilog.py
Labels: fuzzers

#204 BRAM READ/WRITE width
  fuzzers/101-bram-config/Makefile
  fuzzers/101-bram-config/generate.py
  fuzzers/101-bram-config/top.py
  minitests/bram_basic/Makefile
  minitests/bram_basic/top.v
  prjxray/verilog.py
Labels: fuzzers, minitests

#207 bram-config: WRITE_MODE
  fuzzers/101-bram-config/generate.py
  fuzzers/101-bram-config/top.py
  minitests/bram_basic/Makefile
  minitests/bram_basic/top.v
Labels: fuzzers, minitests

#209 BRAM: SDP minitest
  minitests/bram_basic/Makefile
  minitests/bram_basic/runme.tcl
  minitests/bram_basic/top.v
  prjxray/bitstream.py
  utils/segprint.py
Labels: minitests, tools

#205 Expand ROI to all of CMT X0Y2.
  database/artix7/settings.sh
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/generate.py
  fuzzers/005-tilegrid/generate.tcl
  minitests/roi_harness/Makefile
  minitests/roi_harness/bit2fasm.sh
  minitests/roi_harness/create_design_json.py
  minitests/roi_harness/runme.sh
  minitests/roi_harness/runme.tcl
  prjxray/fasm_assembler.py
  prjxray/tile_segbits.py
  utils/fasm2pips.py
Labels: fuzzers, minitests, tools

#210 Bram minitest cleanup
  fuzzers/101-bram-config/minitest/.gitignore
  fuzzers/101-bram-config/minitest/Makefile
  fuzzers/101-bram-config/minitest/README.md
  fuzzers/101-bram-config/minitest/diff.mk
  fuzzers/101-bram-config/minitest/env.sh
  fuzzers/101-bram-config/minitest/runme.sh
  fuzzers/101-bram-config/minitest/runme.tcl
  fuzzers/101-bram-config/minitest/top.v
  fuzzers/102-bram-data/minitest/.gitignore
  fuzzers/102-bram-data/minitest/Makefile
  fuzzers/102-bram-data/minitest/diff.mk
  fuzzers/102-bram-data/minitest/runme.sh
  fuzzers/102-bram-data/minitest/runme.tcl
  fuzzers/102-bram-data/minitest/top.v
  minitests/bram_basic/Makefile
  minitests/bram_diff/.gitignore
  minitests/bram_diff/Makefile
  minitests/bram_diff/README.md
  minitests/bram_diff/env.sh
  minitests/bram_diff/runme.sh
  minitests/bram_diff/runme.tcl
  minitests/bram_diff/top_CLKARDCLK_INV.v
  minitests/bram_diff/top_CLKBWRCLK_INV.v
  minitests/bram_diff/top_ENARDEN_INV.v
  minitests/bram_diff/top_ENBWREN_INV.v
  minitests/bram_diff/top_RAM_MODE_SDP.v
  minitests/bram_diff/top_RSTRAMARSTRAM_INV.v
  minitests/bram_diff/top_RSTRAMB_INV.v
  minitests/bram_diff/top_RSTREGARSTREG_INV.v
  minitests/bram_diff/top_RSTREGB_INV.v
  minitests/bram_diff/top_WRITE_MODE_A_NC.v
  minitests/bram_diff/top_WRITE_MODE_A_RF.v
  minitests/bram_diff/top_ref.v
Labels: docs, fuzzers, minitests

#211 Add documentation for DRAM segbits.
  docs/architecture/dram_configuration.rst
Labels: docs
