Repository f4pga/prjxray, pull requests merged in 2018-12, with the labels that each got.

#280 tilegrid IOB
  database/artix7/settings.sh
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/generate.py
  fuzzers/005-tilegrid/generate.sh
  fuzzers/005-tilegrid/generate.tcl
  fuzzers/005-tilegrid/generate_bram.tcl
  fuzzers/005-tilegrid/generate_clb.tcl
  fuzzers/005-tilegrid/generate_full.py
  fuzzers/005-tilegrid/generate_iob.tcl
  fuzzers/005-tilegrid/generate_tiles.tcl
  fuzzers/005-tilegrid/top.v
  fuzzers/005-tilegrid/util.tcl
  minitests/iob/.gitignore
  minitests/iob/DRIVE.tcl
  minitests/iob/IOSTANDARD.tcl
  minitests/iob/Makefile
  minitests/iob/PULLTYPE.tcl
  minitests/iob/README.md
  minitests/iob/SLEW.tcl
  minitests/iob/diff.mk
  minitests/iob/diff_tcl.mk
  minitests/iob/runme.sh
  minitests/iob/runme.tcl
  minitests/iob/runme_tcl.sh
  minitests/iob/sweep.tcl
  minitests/iob/tcl.v
  minitests/iob/template.tcl
  minitests/iob/top.v
  utils/genheader.sh
  utils/top_generate.sh
Labels: docs, fuzzers, minitests, tools

#281 tilegrid misc IOB fixes
  database/artix7/settings.sh
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/generate_full.py
  fuzzers/005-tilegrid/top.v
Labels: fuzzers

#285 Fix antenna nets
  fuzzers/051-imuxlout/.gitignore
  fuzzers/051-imuxlout/Makefile
  fuzzers/051-imuxlout/generate.tcl
  fuzzers/051-imuxlout/maketodo.py
  fuzzers/051-imuxlout/piplist.tcl
  fuzzers/052-clkin/.gitignore
  fuzzers/052-clkin/Makefile
  fuzzers/052-clkin/generate.tcl
  fuzzers/052-clkin/maketodo.py
  fuzzers/052-clkin/piplist.tcl
  fuzzers/053-ctrlin/.gitignore
  fuzzers/053-ctrlin/Makefile
  fuzzers/053-ctrlin/generate.tcl
  fuzzers/053-ctrlin/maketodo.py
  fuzzers/053-ctrlin/piplist.tcl
  fuzzers/054-gfan/.gitignore
  fuzzers/054-gfan/Makefile
  fuzzers/054-gfan/generate.sh
  fuzzers/054-gfan/generate.tcl
  fuzzers/054-gfan/maketodo.py
  fuzzers/054-gfan/piplist.tcl
  fuzzers/055-gnd/Makefile
  fuzzers/056-rempips/Makefile
  fuzzers/056-rempips/generate.tcl
  fuzzers/int_loop.mk
  fuzzers/piplist.tcl
  utils/utils.tcl
Labels: fuzzers, tools

#287 reseg: dev segment generation script
  fuzzers/reseg.sh
Labels: fuzzers

#288 Quick cleanup
  fuzzers/050-intpips/Makefile
  fuzzers/Makefile
  fuzzers/int_loop.mk
  fuzzers/quick.mk
Labels: fuzzers

#291 intpips: inrease N to reduce faulty solves
  fuzzers/050-intpips/Makefile
Labels: fuzzers

#305 Dbfixup
  docs/format/db.rst
  prjxray/db.py
  prjxray/util.py
  utils/checkdb.py
  utils/dbcheck.py
  utils/dbcheck.sh
  utils/environment.sh
  utils/mergedb.sh
  utils/parsedb.py
  utils/segprint.py
Labels: docs, tools

#308 quick: disable slow high number fuzzers
  fuzzers/Makefile
Labels: fuzzers

#309 specn()
  prjxray/util.py
  utils/genheader.sh
Labels: tools

#310 IOB bit test
  fuzzers/030-iob/Makefile
  fuzzers/030-iob/README.md
  fuzzers/030-iob/generate.py
  fuzzers/030-iob/generate.sh
  fuzzers/030-iob/generate.tcl
  fuzzers/030-iob/minitest/.gitignore
  fuzzers/030-iob/minitest/DRIVE.tcl
  fuzzers/030-iob/minitest/IOSTANDARD.tcl
  fuzzers/030-iob/minitest/Makefile
  fuzzers/030-iob/minitest/PULLTYPE.tcl
  fuzzers/030-iob/minitest/README.md
  fuzzers/030-iob/minitest/SLEW.tcl
  fuzzers/030-iob/minitest/diff.mk
  fuzzers/030-iob/minitest/diff_tcl.mk
  fuzzers/030-iob/minitest/runme.sh
  fuzzers/030-iob/minitest/runme.tcl
  fuzzers/030-iob/minitest/runme_tcl.sh
  fuzzers/030-iob/minitest/sweep.tcl
  fuzzers/030-iob/minitest/tcl.v
  fuzzers/030-iob/minitest/template.tcl
  fuzzers/030-iob/minitest/top.v
  fuzzers/030-iob/top.py
  prjxray/segmaker.py
Labels: docs, fuzzers, third-party

#313 clbram: ignore unexpected LUT contents
  fuzzers/018-clbram/Makefile
  fuzzers/018-clbram/generate.py
  fuzzers/018-clbram/generate.tcl
  fuzzers/018-clbram/top.py
Labels: fuzzers

#314 Parsedb better error
  fuzzers/018-clbram/generate.tcl
  utils/parsedb.py
Labels: fuzzers, tools

#316 int_loop.mk: timeout
  fuzzers/int_loop.mk
  fuzzers/int_loop.sh
  fuzzers/int_loop_check.py
Labels: fuzzers

#319 int_loop: consolidate maketodo.py, tweaks
  fuzzers/050-intpips/Makefile
  fuzzers/050-intpips/maketodo.py
  fuzzers/051-imuxlout/Makefile
  fuzzers/051-imuxlout/generate.tcl
  fuzzers/051-imuxlout/maketodo.py
  fuzzers/052-clkin/Makefile
  fuzzers/052-clkin/generate.tcl
  fuzzers/052-clkin/maketodo.py
  fuzzers/053-ctrlin/Makefile
  fuzzers/053-ctrlin/generate.tcl
  fuzzers/053-ctrlin/maketodo.py
  fuzzers/054-gfan/Makefile
  fuzzers/054-gfan/generate.tcl
  fuzzers/054-gfan/maketodo.py
  fuzzers/056-rempips/Makefile
  fuzzers/056-rempips/maketodo.py
  fuzzers/int_loop.mk
  fuzzers/int_loop.sh
  fuzzers/int_maketodo.py
  fuzzers/piplist.tcl
Labels: fuzzers

#320 bipips: use int_loop
  fuzzers/057-bipips/.gitignore
  fuzzers/057-bipips/Makefile
  fuzzers/057-bipips/bipiplist.tcl
  fuzzers/057-bipips/generate.tcl
  fuzzers/057-bipips/maketodo.py
  fuzzers/int_loop.mk
  fuzzers/int_maketodo.py
Labels: fuzzers

#321 Remove MAKEFLAGS
  fuzzers/050-intpips/Makefile
  fuzzers/int_loop.mk
  fuzzers/int_loop.sh
Labels: fuzzers

#322 maketodo: normalize tile prefix
  fuzzers/050-intpips/Makefile
  fuzzers/int_maketodo.py
Labels: fuzzers

#323 Better int_loop logging
  fuzzers/050-intpips/Makefile
  fuzzers/int_loop.mk
Labels: fuzzers

#324 int_maketodo: only count resolved tags
  fuzzers/int_maketodo.py
Labels: fuzzers

#325 int_loop: fix tile prefix
  fuzzers/int_maketodo.py
Labels: fuzzers

#326 intpips: SEGMATCH_FLAGS like int_loop
  fuzzers/050-intpips/Makefile
Labels: fuzzers

#329 `make format` improvements
  .travis.yml
  Makefile
  lib/include/prjxray/xilinx/xc7series/configuration_bus.h
  lib/include/prjxray/xilinx/xc7series/global_clock_region.h
  lib/include/prjxray/xilinx/xc7series/row.h
  lib/xilinx/xc7series/configuration_test.cc
  tools/xc7patch.cc
  utils/environment.sh
  utils/tcl-reformat.sh
Labels: fuzzers, infra, tools

#330 intpips: todo look at last iter, not iter not yet completed
  fuzzers/050-intpips/Makefile
Labels: fuzzers

#335 rempips: fix todo.txt path
  fuzzers/056-rempips/generate.tcl
Labels: fuzzers

#336 intpips: try harder, even though diminshing returns
  fuzzers/050-intpips/Makefile
Labels: fuzzers

#337 055+ quick
  fuzzers/055-gnd/.gitignore
  fuzzers/055-gnd/Makefile
  fuzzers/055-gnd/generate.sh
  fuzzers/055-gnd/generate.tcl
  fuzzers/Makefile
Labels: fuzzers

#340 timing: tidy up gitignore
  fuzzers/007-timing/.gitignore
Labels: fuzzers

#346 Iob pull
  fuzzers/030-iob/Makefile
  fuzzers/030-iob/bits.dbf
  fuzzers/030-iob/generate.py
  fuzzers/030-iob/generate.tcl
  prjxray/segmaker.py
  utils/mergedb.sh
Labels: fuzzers, tools

#328 JSON improvements
  Makefile
  fuzzers/001-part-yaml/Makefile
  fuzzers/005-tilegrid/generate.py
  fuzzers/074-dump_all/cleanup_site_pins.py
  fuzzers/074-dump_all/create_node_tree.py
  fuzzers/074-dump_all/generate_grid.py
  fuzzers/074-dump_all/reduce_site_types.py
  fuzzers/074-dump_all/reduce_tile_types.py
  requirements.txt
  utils/xjson.py
  utils/xyaml.py
Labels: fuzzers, infra, third-party, tools

#349 dbfixup: fix zero enums
  utils/dbfixup.py
Labels: tools

#350 Iob dbroot
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/iob/generate.sh
  prjxray/util.py
Labels: fuzzers

#351 Fix Python environment
  Makefile
  README.md
Labels: docs

#352 Enter env in environment.sh
  Makefile
  utils/environment.sh
Labels: tools

#354 tilegrid: /bin/dash compatibility
  fuzzers/005-tilegrid/Makefile
Labels: fuzzers

#355 Tilegrid basic mmcm support
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/fuzzaddr/common.mk
  fuzzers/005-tilegrid/fuzzaddr/generate.py
  fuzzers/005-tilegrid/fuzzaddr/generate.sh
  fuzzers/005-tilegrid/iob/Makefile
  fuzzers/005-tilegrid/iob/generate.py
  fuzzers/005-tilegrid/iob/generate.tcl
  fuzzers/005-tilegrid/iob/top.py
  fuzzers/005-tilegrid/mmcm/Makefile
  fuzzers/005-tilegrid/mmcm/generate.tcl
  fuzzers/005-tilegrid/mmcm/top.py
  prjxray/bitsmaker.py
  prjxray/util.py
  utils/checkdb.py
  utils/xjson.py
  utils/xyaml.py
Labels: fuzzers, tools

#357 MMCME2_ADV, PLLE2_ADV: very basic fuzzer
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/mmcm/Makefile
  fuzzers/005-tilegrid/pll/Makefile
  fuzzers/025-bram-config/generate.py
  fuzzers/025-bram-config/top.py
  fuzzers/030-iob/README.md
  fuzzers/031-mmcm/.gitignore
  fuzzers/031-mmcm/Makefile
  fuzzers/031-mmcm/README.md
  fuzzers/031-mmcm/bits.dbf
  fuzzers/031-mmcm/generate.py
  fuzzers/031-mmcm/generate.sh
  fuzzers/031-mmcm/generate.tcl
  fuzzers/031-mmcm/top.py
  fuzzers/032-pll/.gitignore
  fuzzers/032-pll/Makefile
  fuzzers/032-pll/README.md
  fuzzers/032-pll/bits.dbf
  fuzzers/032-pll/generate.py
  fuzzers/032-pll/generate.sh
  fuzzers/032-pll/generate.tcl
  fuzzers/032-pll/top.py
Labels: docs, fuzzers

#358 genheader: set FUZDIR instead of per project
  utils/genheader.sh
Labels: tools

#359 055-gnd/Makefile: fix bad clean
  fuzzers/055-gnd/Makefile
Labels: fuzzers

#360 Dsp mskpat build
  fuzzers/100-dsp-mskpat/.gitignore
  fuzzers/100-dsp-mskpat/Makefile
  fuzzers/100-dsp-mskpat/generate.sh
  fuzzers/100-dsp-mskpat/generate.tcl
  fuzzers/Makefile
Labels: fuzzers

#361 Pip solvability notes
  fuzzers/050-intpips/README.md
  fuzzers/056-rempips/README.md
Labels: docs, fuzzers

#362 rempips: fix todo path
  fuzzers/050-intpips/Makefile
  fuzzers/056-rempips/generate.py
  fuzzers/int_loop.mk
  fuzzers/int_loop.sh
Labels: fuzzers

#364 Dbfixup fix
  fuzzers/050-intpips/Makefile
  fuzzers/int_loop.mk
  prjxray/util.py
  utils/dbfixup.py
Labels: fuzzers, tools

#365 rempips: try a few times to solve on failures
  fuzzers/056-rempips/generate.tcl
  utils/utils.tcl
Labels: fuzzers, tools

#367 int_loop: mv todo build/todo
  fuzzers/050-intpips/.gitignore
  fuzzers/050-intpips/Makefile
  fuzzers/051-imuxlout/.gitignore
  fuzzers/052-clkin/.gitignore
  fuzzers/053-ctrlin/.gitignore
  fuzzers/054-gfan/.gitignore
  fuzzers/055-gnd/.gitignore
  fuzzers/056-rempips/.gitignore
  fuzzers/057-bipips/.gitignore
  fuzzers/int_loop.mk
  fuzzers/int_loop.sh
  fuzzers/int_loop_check.py
Labels: fuzzers

#369 todo: clean up file names
  fuzzers/050-intpips/Makefile
  fuzzers/int_loop.mk
Labels: fuzzers

#370 masks: tidy up
  fuzzers/025-bram-config/Makefile
  fuzzers/026-bram-data/Makefile
  fuzzers/030-iob/Makefile
  fuzzers/031-mmcm/Makefile
  fuzzers/032-pll/Makefile
  fuzzers/100-dsp-mskpat/Makefile
  fuzzers/bram.mk
  fuzzers/clb.mk
  fuzzers/int_loop.mk
Labels: fuzzers

#371 hclkpips: build dir
  fuzzers/.gitignore
  fuzzers/005-tilegrid/.gitignore
  fuzzers/007-timing/.gitignore
  fuzzers/007-timing/minitest/test_unique/.gitignore
  fuzzers/007-timing/timgrid/.gitignore
  fuzzers/010-lutinit/.gitignore
  fuzzers/011-ffconfig/.gitignore
  fuzzers/012-clbn5ffmux/.gitignore
  fuzzers/013-clbncy0/.gitignore
  fuzzers/014-ffsrcemux/.gitignore
  fuzzers/015-clbnffmux/.gitignore
  fuzzers/016-clbnoutmux/.gitignore
  fuzzers/017-clbprecyinit/.gitignore
  fuzzers/018-clbram/.gitignore
  fuzzers/019-ndi1mux/.gitignore
  fuzzers/025-bram-config/.gitignore
  fuzzers/025-bram-config/minitest/.gitignore
  fuzzers/026-bram-data/.gitignore
  fuzzers/026-bram-data/minitest/.gitignore
  fuzzers/030-iob/.gitignore
  fuzzers/030-iob/minitest/.gitignore
  fuzzers/031-mmcm/.gitignore
  fuzzers/032-pll/.gitignore
  fuzzers/050-intpips/.gitignore
  fuzzers/051-imuxlout/.gitignore
  fuzzers/052-clkin/.gitignore
  fuzzers/053-ctrlin/.gitignore
  fuzzers/054-gfan/.gitignore
  fuzzers/055-gnd/.gitignore
  fuzzers/056-rempips/.gitignore
  fuzzers/057-bipips/.gitignore
  fuzzers/058-hclkpips/.gitignore
  fuzzers/058-hclkpips/Makefile
  fuzzers/058-hclkpips/generate.sh
  fuzzers/058-hclkpips/generate.tcl
  fuzzers/100-dsp-mskpat/.gitignore
Labels: fuzzers

#372 Rempips stuck
  fuzzers/056-rempips/generate.tcl
Labels: fuzzers

#379 part: use python3 to fix import error
  fuzzers/001-part-yaml/Makefile
Labels: fuzzers

#381 bram: fix missing flag
  fuzzers/025-bram-config/Makefile
Labels: fuzzers

#375 gen_part_base_yaml.cc: Added the possibility to read FAR registers
  tools/CMakeLists.txt
  tools/gen_part_base_yaml.cc
Labels: tools

#385 Bram data db
  fuzzers/025-bram-config/Makefile
  fuzzers/026-bram-data/Makefile
  fuzzers/Makefile
  fuzzers/bram.mk
Labels: fuzzers

#386 reseg: segmatch only build dir
  fuzzers/reseg.sh
Labels: fuzzers

#384 intpips: properly filter VCC_WIRE
  fuzzers/050-intpips/README.md
  fuzzers/050-intpips/generate.py
Labels: docs, fuzzers

#387 intpips: parallelize db build
  fuzzers/050-intpips/Makefile
Labels: fuzzers

#388 gnd: fix todo path
  fuzzers/055-gnd/generate.tcl
Labels: fuzzers

#390 int_loop: unify SEGMATCH_FLAGS
  fuzzers/int_loop.mk
Labels: fuzzers

#394 hclkpips: HCLK bitstream workaround
  fuzzers/058-hclkpips/generate.py
  fuzzers/058-hclkpips/generate.tcl
Labels: fuzzers

#398 055-gnd: fix bad makefile target
  fuzzers/055-gnd/Makefile
  fuzzers/055-gnd/generate.tcl
Labels: fuzzers

#405 Remove --iter-pushdb to reduce conflicts
  fuzzers/056-rempips/generate.tcl
  fuzzers/int_loop.mk
  fuzzers/int_loop.sh
Labels: fuzzers

#406 intpips: cleaniter
  fuzzers/050-intpips/Makefile
Labels: fuzzers

#376 001-part-yaml: Modified script and tools to generate Zynq YAML.
  fuzzers/001-part-yaml/Makefile.specimen
  fuzzers/001-part-yaml/generate.tcl
Labels: fuzzers

#410 added sudo to readme1
  README.md
Labels: docs

#411 BITONLY
  fuzzers/Makefile
Labels: fuzzers

#414 Add segdata to MMCM Makefile
  fuzzers/031-mmcm/Makefile
Labels: fuzzers

#416 introduce vivado wrapper
  README.md
  experiments/clbpips/generate.sh
  experiments/example/generate.sh
  experiments/gndvcc/Makefile
  experiments/gndvcc/generate.sh
  experiments/pipsroute/Makefile
  experiments/pipsroute/generate.sh
  fuzzers/001-part-yaml/Makefile.specimen
  fuzzers/005-tilegrid/fuzzaddr/generate.sh
  fuzzers/005-tilegrid/generate.sh
  fuzzers/007-timing/minitest/test_unique/generate.sh
  fuzzers/007-timing/projects/oneblinkw/generate.sh
  fuzzers/007-timing/projects/picorv32/generate.sh
  fuzzers/007-timing/projects/placelut/generate.sh
  fuzzers/007-timing/projects/placelut_fb/generate.sh
  fuzzers/007-timing/projects/placelut_ff_fb/generate.sh
  fuzzers/007-timing/speed/Makefile
  fuzzers/007-timing/timgrid/Makefile
  fuzzers/007-timing/timgrid/generate.sh
  fuzzers/010-lutinit/generate.sh
  fuzzers/012-clbn5ffmux/generate.sh
  fuzzers/015-clbnffmux/generate.sh
  fuzzers/016-clbnoutmux/generate.sh
  fuzzers/025-bram-config/minitest/runme.sh
  fuzzers/026-bram-data/generate.sh
  fuzzers/026-bram-data/minitest/runme.sh
  fuzzers/030-iob/minitest/runme.sh
  fuzzers/030-iob/minitest/runme_tcl.sh
  fuzzers/050-intpips/Makefile
  fuzzers/050-intpips/generate.sh
  fuzzers/051-imuxlout/generate.sh
  fuzzers/052-clkin/generate.sh
  fuzzers/053-ctrlin/generate.sh
  fuzzers/054-gfan/generate.sh
  fuzzers/056-rempips/generate.sh
  fuzzers/057-bipips/generate.sh
  fuzzers/058-hclkpips/generate.sh
  fuzzers/071-ppips/generate.sh
  fuzzers/072-ordered_wires/generate.sh
  fuzzers/073-get_counts/generate.sh
  fuzzers/074-dump_all/generate.sh
  fuzzers/100-dsp-mskpat/generate.sh
  fuzzers/int_loop.mk
  gridinfo/runme.sh
  minitests/clbconfigs/runme.sh
  minitests/clkbuf/runme.sh
  minitests/eccbits/runme.sh
  minitests/fixedpnr/runme.sh
  minitests/lvb_long_mux/runme.sh
  minitests/partial_reconfig_flow/Makefile
  minitests/picorv32-v/runme.sh
  minitests/picorv32-y/runme.sh
  minitests/roi_harness/runme.sh
  minitests/switchboxes/runme.sh
  minitests/tiles_wires_pips/runme.sh
  minitests/util/runme.sh
  utils/environment.sh
  utils/top_generate.sh
  utils/vivado.sh
Labels: docs, experiments, fuzzers

#420 download-latest: clean files
  download-latest-db.sh
Labels: infra

#422 README: source after virtualenv
  README.md
Labels: docs

#423 Xadc PoC
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/monitor/Makefile
  fuzzers/005-tilegrid/monitor/generate.tcl
  fuzzers/005-tilegrid/monitor/top.py
  fuzzers/033-xadc/Makefile
  fuzzers/033-xadc/README.md
  fuzzers/033-xadc/bits.dbf
  fuzzers/033-xadc/generate.py
  fuzzers/033-xadc/generate.sh
  fuzzers/033-xadc/generate.tcl
  fuzzers/033-xadc/top.py
Labels: docs, fuzzers

#427 Move settings out of database directory into new settings directory.
  .gitignore
  README.md
  database/artix7/settings.sh
  database/kintex7/settings.sh
  database/zynq7/settings.sh
  settings/artix7.sh
  settings/kintex7.sh
  settings/zynq7.sh
Labels: docs, fuzzers
