Repository f4pga/prjxray, pull requests merged in 2018-09, with the labels that each got.

#122 Timfuz cleanup
  fuzzers/.gitignore
  fuzzers/007-timing/csv_group2flat.py
  fuzzers/007-timing/projects/corner.mk
  fuzzers/007-timing/rref.py
  fuzzers/007-timing/solve_leastsq.py
  fuzzers/007-timing/solve_linprog.py
  fuzzers/007-timing/solve_qor.py
  fuzzers/007-timing/test_unique/.gitignore
  fuzzers/007-timing/test_unique/Makefile
  fuzzers/007-timing/test_unique/README.md
  fuzzers/007-timing/test_unique/generate.sh
  fuzzers/007-timing/test_unique/generate.tcl
  fuzzers/007-timing/test_unique/node_unique.py
  fuzzers/007-timing/test_unique/perf_test.py
  fuzzers/007-timing/test_unique/pip_unique.py
  fuzzers/007-timing/test_unique/top.v
  fuzzers/007-timing/test_unique/wire_unique.py
  fuzzers/007-timing/test_zero/README.md
  fuzzers/007-timing/test_zero/process.py
  fuzzers/007-timing/tile_annotate.py
  fuzzers/007-timing/timfuz.py
  fuzzers/007-timing/timfuz_solve.py
Labels: docs, fuzzers

#124 timfuz: misc cleanup
  fuzzers/007-timing/csv_group2flat.py
  fuzzers/007-timing/projects/corner.mk
  fuzzers/007-timing/projects/project.mk
  fuzzers/007-timing/timfuz.py
  fuzzers/007-timing/timfuz_massage.py
  fuzzers/007-timing/timfuz_solve.py
Labels: fuzzers

#125 Generate tile types, site types, tilegrid, tileconn for entire part
  .gitignore
  .travis.yml
  fuzzers/072-ordered_wires/Makefile
  fuzzers/072-ordered_wires/generate.sh
  fuzzers/072-ordered_wires/generate.tcl
  fuzzers/073-get_counts/Makefile
  fuzzers/073-get_counts/generate.sh
  fuzzers/073-get_counts/generate.tcl
  fuzzers/074-dump_all/Makefile
  fuzzers/074-dump_all/analyze_errors.py
  fuzzers/074-dump_all/artix7_ignored_wires.txt
  fuzzers/074-dump_all/cleanup_site_pins.py
  fuzzers/074-dump_all/create_node_tree.py
  fuzzers/074-dump_all/generate.sh
  fuzzers/074-dump_all/generate.tcl
  fuzzers/074-dump_all/generate_after_dump.sh
  fuzzers/074-dump_all/generate_grid.py
  fuzzers/074-dump_all/generate_ignore_list.py
  fuzzers/074-dump_all/reduce_site_types.py
  fuzzers/074-dump_all/reduce_tile_types.py
  fuzzers/Makefile
  prjxray/__init__.py
  prjxray/connections.py
  prjxray/db.py
  prjxray/grid.py
  prjxray/lib.py
  prjxray/tile.py
  requirements.txt
  tools/quick_test.py
  tools/verify_tile_connections.py
Labels: fuzzers, infra, tools
