Repository f4pga/prjxray, pull requests merged in 2018-11, with the labels that each got.

#213 fuzzers: don't use EXCLUDE_PLACEMENT on ROI
  fuzzers/007-timing/minitest/test_unique/generate.tcl
  fuzzers/007-timing/projects/oneblinkw/generate.tcl
  fuzzers/007-timing/projects/picorv32/generate.tcl
  fuzzers/007-timing/projects/placelut/generate.tcl
  fuzzers/007-timing/projects/placelut_fb/generate.tcl
  fuzzers/007-timing/projects/placelut_ff_fb/generate.tcl
  fuzzers/011-ffconfig/generate.tcl
  fuzzers/012-clbn5ffmux/generate.tcl
  fuzzers/013-clbncy0/generate.tcl
  fuzzers/014-ffsrcemux/generate.tcl
  fuzzers/015-clbnffmux/generate.tcl
  fuzzers/016-clbnoutmux/generate.tcl
  fuzzers/017-clbprecyinit/generate.tcl
  fuzzers/018-clbram/generate.tcl
  fuzzers/019-ndi1mux/generate.tcl
  fuzzers/101-bram-config/generate.tcl
  fuzzers/101-bram-config/minitest/runme.tcl
  fuzzers/102-bram-data/generate.tcl
  minitests/clbconfigs/runme.tcl
  minitests/picorv32-v/runme.tcl
  minitests/picorv32-y/runme.tcl
  minitests/util/runme.tcl
Labels: fuzzers, minitests

#216 Segprint cleanup
  prjxray/db.py
  utils/segprint.py
Labels: tools

#222 Rename DI1MUX to be underneith the *LUT.
  fuzzers/019-ndi1mux/generate.py
Labels: fuzzers

#225 Add UART port to ROI harness.
  minitests/roi_harness/runme.sh
  minitests/roi_harness/runme.tcl
Labels: minitests

#224 Add option to output ignored wires and add ignored wires for kintex7.
  fuzzers/074-dump_all/analyze_errors.py
  fuzzers/074-dump_all/kintex7_ignored_wires.txt
Labels: fuzzers

#220 Segprint: print related tiles
  utils/segprint.py
Labels: tools

#228 bram: make run targets
  fuzzers/025-bram-config/Makefile
  fuzzers/026-bram-data/Makefile
Labels: fuzzers

#236 bram config db: READ/WRITE width bits to enum
  fuzzers/025-bram-config/Makefile
  fuzzers/025-bram-config/bits.dbf
  fuzzers/025-bram-config/generate.py
  fuzzers/clb.mk
  fuzzers/fuzzer.mk
Labels: fuzzers

#238 dbfixup: support const 0 entries
  fuzzers/015-clbnffmux/Makefile
  fuzzers/015-clbnffmux/bits.dbf
  fuzzers/016-clbnoutmux/Makefile
  fuzzers/017-clbprecyinit/Makefile
  fuzzers/017-clbprecyinit/bits.dbf
  fuzzers/017-clbprecyinit/top.py
  fuzzers/025-bram-config/Makefile
  fuzzers/025-bram-config/bits.dbf
  fuzzers/clb.mk
  fuzzers/fuzzer.mk
  prjxray/segmaker.py
  prjxray/util.py
  utils/dbfixup.py
Labels: fuzzers, tools

#240 clb.mk: fix bad pushdb file name
  fuzzers/clb.mk
  utils/dbfixup.py
Labels: fuzzers, tools

#244 noutmux o6 workaround
  fuzzers/016-clbnoutmux/generate.py
  fuzzers/016-clbnoutmux/minitest/.gitignore
  fuzzers/016-clbnoutmux/minitest/Makefile
  fuzzers/016-clbnoutmux/minitest/README.md
  fuzzers/016-clbnoutmux/minitest/top.v
  minitests/clb_noutmux/Makefile
Labels: docs, fuzzers, minitests

#245 --db_root => --db-root
  fuzzers/025-bram-config/Makefile
  fuzzers/050-intpips/Makefile
  fuzzers/051-imuxlout/Makefile
  fuzzers/052-clkin/Makefile
  fuzzers/053-ctrlin/Makefile
  fuzzers/054-gfan/Makefile
  fuzzers/055-gnd/Makefile
  fuzzers/056-rempips/Makefile
  fuzzers/057-bipips/Makefile
  fuzzers/058-hclkpips/Makefile
  fuzzers/100-dsp-mskpat/Makefile
  fuzzers/clb.mk
  prjxray/util.py
  utils/bits2fasm.py
  utils/fasm2frames.py
  utils/fasm2pips.py
  utils/fasm_pprint.py
  utils/quick_test.py
  utils/verify_tile_connections.py
Labels: fuzzers, tools

#248 parsedb tool, pushdb uses parsedb
  prjxray/util.py
  utils/dbfixup.py
  utils/environment.sh
  utils/mergedb.sh
  utils/parsedb.py
Labels: tools

#249 make: quick build script
  fuzzers/quick.mk
Labels: fuzzers

#250 quick.mk: remove slow fuzzers
  fuzzers/quick.mk
Labels: fuzzers

#251 tilegrid: use dedicated ROI var
  database/artix7/settings.sh
  database/kintex7/settings.sh
  fuzzers/005-tilegrid/generate.tcl
Labels: fuzzers

#255 environment.sh: fix PYTHONPATH
  utils/environment.sh
Labels: tools

#254 readme: add pip note
  README.md
Labels: docs

#256 dbfixup: missing arg on --clb-int
  utils/dbfixup.py
Labels: tools

#262 Standardize db file name
  fuzzers/007-timing/minitest/test_unique/Makefile
  fuzzers/010-lutinit/Makefile
  fuzzers/019-ndi1mux/Makefile
  fuzzers/025-bram-config/Makefile
  fuzzers/026-bram-data/Makefile
  fuzzers/050-intpips/Makefile
  fuzzers/050-intpips/generate.sh
  fuzzers/050-intpips/generate.tcl
  fuzzers/051-imuxlout/Makefile
  fuzzers/052-clkin/Makefile
  fuzzers/053-ctrlin/Makefile
  fuzzers/054-gfan/Makefile
  fuzzers/055-gnd/Makefile
  fuzzers/056-rempips/Makefile
  fuzzers/057-bipips/Makefile
  fuzzers/058-hclkpips/Makefile
  fuzzers/100-dsp-mskpat/Makefile
Labels: fuzzers

#263 db .py fixes
  prjxray/util.py
  utils/dbfixup.py
  utils/mergedb.sh
  utils/parsedb.py
Labels: tools

#264 dbfixup: quick hacks to make 050 happy
  utils/dbfixup.py
Labels: tools

#267 bram-data: fix build.db_bramx => build/segbits_bramx
  fuzzers/025-bram-config/Makefile
Labels: fuzzers

#268 Do not insert non-existent frames.
  tools/xc7patch.cc
Labels: tools

#277 db.rst: add -m/-M doc
  docs/format/db.rst
Labels: docs

#278 seg_ => segbits_
  fuzzers/010-lutinit/.gitignore
  fuzzers/010-lutinit/Makefile
  fuzzers/010-lutinit/generate.sh
  fuzzers/010-lutinit/generate.tcl
  fuzzers/051-imuxlout/Makefile
  fuzzers/052-clkin/Makefile
  fuzzers/053-ctrlin/Makefile
  fuzzers/054-gfan/Makefile
  fuzzers/055-gnd/Makefile
  fuzzers/056-rempips/generate.py
  fuzzers/057-bipips/Makefile
  fuzzers/058-hclkpips/Makefile
  fuzzers/100-dsp-mskpat/Makefile
Labels: fuzzers
