Repository f4pga/prjxray, pull requests merged in 2019-08, with the labels that each got.

#1002 Add some missing ISERDES features.
  fuzzers/035-iob-ilogic/generate.py
Labels: parts-fuzzers

#1004 Solve OCLKM pips in IOI3
  fuzzers/037-iob-pips/Makefile
  fuzzers/037-iob-pips/generate.py
  fuzzers/037-iob-pips/ioi3_pip_list.tcl
  fuzzers/037-iob-pips/top.py
Labels: parts-fuzzers

#1005 Document some combo OSERDESE.DATA_WIDTH bits.
  fuzzers/036-iob-ologic/bits.dbf
  fuzzers/036-iob-ologic/generate.py
Labels: parts-fuzzers

#1006 Move ILOGIC and OLOGIC to IOI3 tiles for consistency.
  fuzzers/035-iob-ilogic/Makefile
  fuzzers/035-iob-ilogic/generate.py
  fuzzers/036-iob-ologic/Makefile
  fuzzers/036-iob-ologic/generate.py
Labels: parts-fuzzers

#1013 Split CCIO ACTIVE into two features.
  fuzzers/045-hclk-cmt-pips/generate.py
  fuzzers/045-hclk-cmt-pips/output_cmt.tcl
  fuzzers/045-hclk-cmt-pips/top.py
Labels: parts-fuzzers

#1008 Add HCLK (BUFR) fuzzer and solve additional bits in CLK_HROW.
  fuzzers/039-hclk-config/Makefile
  fuzzers/039-hclk-config/bits.dbf
  fuzzers/039-hclk-config/generate.py
  fuzzers/039-hclk-config/generate.tcl
  fuzzers/039-hclk-config/top.py
  fuzzers/041-clk-hrow-pips/generate.py
Labels: parts-fuzzers

#1007 Refactor 037 to remove some unstable pips.
  fuzzers/037-iob-pips/Makefile
  fuzzers/037-iob-pips/generate.tcl
  fuzzers/037-iob-pips/top.py
Labels: parts-fuzzers

#1014 Add 039 fuzzer to master makefile.
  fuzzers/039-hclk-config/top.py
  fuzzers/Makefile
Labels: parts-fuzzers

#1017 Avoid failing on empty pip lists (which may occur).
  fuzzers/037-iob-pips/Makefile
  fuzzers/int_maketodo.py
Labels: parts-fuzzers

#1012 Segbits utils
  utils/maskview.py
  utils/segview.py
Labels: parts-tools

#1034 Change theme to SymbiFlow
  docs/conf.py
  docs/requirements.txt
Labels: parts-docs

#1036 Update the UPDATING THE DOCS doc
  UPDATING-THE-DOCS.md
Labels: parts-docs
