Repository f4pga/prjxray, pull requests merged in 2019-03, with the labels that each got.

#685 Fix running without -j
  fuzzers/run_fuzzer.py
Labels: parts-fuzzers

#687 Only tag some tags when running in TDP mode.
  fuzzers/025-bram-config/generate.py
Labels: parts-fuzzers

#693 fuzzers: int_loop: exit on empty todo
  fuzzers/int_loop.sh
Labels: parts-fuzzers

#690 IOB_SING solution via segbit aliases.
  fuzzers/005-tilegrid/generate_full.py
  prjxray/db.py
  prjxray/fasm_assembler.py
  prjxray/fasm_disassembler.py
  prjxray/grid.py
  prjxray/grid_types.py
  prjxray/tile_segbits.py
  prjxray/tile_segbits_alias.py
  utils/bit2fasm.py
Labels: parts-fuzzers, parts-tools

#691 Fuzzers: add ologic fuzzer
  fuzzers/036-iob-ologic/Makefile
  fuzzers/036-iob-ologic/bits.dbf
  fuzzers/036-iob-ologic/generate.py
  fuzzers/036-iob-ologic/generate.tcl
  fuzzers/036-iob-ologic/top.py
  fuzzers/Makefile
Labels: parts-fuzzers

#686 Use seperate build directory for each piplist.
  fuzzers/041-clk-hrow-pips/Makefile
  fuzzers/050-pip-seed/Makefile
  fuzzers/int_maketodo.py
  fuzzers/pip_loop.mk
Labels: parts-fuzzers

#696 utils: mergedb: lock database accesses
  fuzzers/Makefile
  utils/mergedb.sh
Labels: parts-fuzzers, parts-tools

#695 fuzzer 042: Increase specimen count and enable execution
  fuzzers/042-clk-bufg-config/Makefile
  fuzzers/042-clk-bufg-config/generate.py
  fuzzers/Makefile
Labels: parts-fuzzers

#699 fuzzers: 007: fix linprog callback to fit scipy 1.2.1
  fuzzers/007-timing/solve_linprog.py
  requirements.txt
Labels: parts-fuzzers

#702 Lower retry count to avoid taking a long time to fail when the fuzzer is broken
  fuzzers/run_fuzzer.py
Labels: parts-fuzzers

#707 infra: Fix the diff output.
  .github/kokoro/continuous-db-artix7.cfg
  .github/kokoro/continuous-db-kintex7.cfg
  .github/kokoro/continuous-db-zynq7.cfg
  .github/kokoro/db-full.sh
  .github/kokoro/kokoro-cfg.py
  .github/kokoro/presubmit-db-artix7.cfg
  .github/kokoro/presubmit-db-kintex7.cfg
  .github/kokoro/presubmit-db-zynq7.cfg
Labels: parts-infra

#710 infra: Don't output color in .patch file
  .github/kokoro/db-full.sh
Labels: parts-infra

#711 zybo: Fix Zybq Zynq-7 roi_harness
  minitests/roi_harness/runme.tcl
  minitests/roi_harness/zybo.sh
  settings/zynq7.sh
Labels: parts-minitests

#715 Fix 048 not using correct directory.
  fuzzers/041-clk-hrow-pips/Makefile
  fuzzers/048-int-piplist/Makefile
  fuzzers/pip_list.mk
  fuzzers/pip_loop.mk
Labels: parts-fuzzers

#724 roi_harness: Add ARTY-A7-UART configuration
  minitests/roi_harness/arty.sh
  minitests/roi_harness/runme.tcl
Labels: parts-minitests

#730 Generate ppips for other tiles in the ROI.
  fuzzers/071-ppips/generate.tcl
Labels: parts-fuzzers

#705 Implement the xc7frames2bit tool
  lib/CMakeLists.txt
  lib/include/prjxray/xilinx/xc7series/frames.h
  lib/include/prjxray/xilinx/xc7series/utils.h
  lib/xilinx/xc7series/frames.cc
  lib/xilinx/xc7series/utils.cc
  tools/CMakeLists.txt
  tools/xc7frames2bit.cc
  tools/xc7patch.cc
Labels: parts-fuzzers, parts-minitests, parts-third-party, parts-tools

#712 Fix makefiles to pass -j option
  fuzzers/055-pip-gnd/Makefile
  fuzzers/pip_loop.mk
Labels: parts-fuzzers

#733 Adding some build badges to README.md
  README.md
Labels: parts-docs

#737 Re-enable the DSP fuzzer.
  fuzzers/Makefile
Labels: parts-fuzzers

#738 Add another IOI variant to the ppips
  fuzzers/071-ppips/generate.tcl
Labels: parts-fuzzers

#736 add bits outside ROI to required features
  minitests/roi_harness/create_design_json.py
Labels: parts-minitests

#740 Update info file on CI
  .github/kokoro/db-full.sh
  Makefile
Labels: parts-infra

#745 Improve the ROI harness reproducibility
  minitests/roi_harness/README.md
  minitests/roi_harness/arty-common.sh
  minitests/roi_harness/arty-pmod.sh
  minitests/roi_harness/arty-swbut.sh
  minitests/roi_harness/arty-uart.sh
  minitests/roi_harness/basys3-common.sh
  minitests/roi_harness/basys3-swbut.sh
  minitests/roi_harness/runme.tcl
  minitests/roi_harness/zybo-common.sh
  minitests/roi_harness/zybo-swbut.sh
Labels: parts-docs, parts-minitests
