Repository f4pga/prjxray, pull requests merged in 2019-06, with the labels that each got.

#860 005-tilegrid: add CFG_CENTER_MID tile base address calculation
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/cfg/Makefile
  fuzzers/005-tilegrid/cfg/generate.tcl
  fuzzers/005-tilegrid/cfg/top.py
Labels: parts-fuzzers, parts-third-party, parts-tools

#849 053-pip-ctrlin: Fall back to todos bigger than specified number of lines
  fuzzers/053-pip-ctrlin/generate.tcl
  fuzzers/pip_loop.mk
Labels: parts-fuzzers

#868 Fix instability issues with the FAN_ALT.BYP_BOUNCE PIPs
  fuzzers/050-pip-seed/generate.py
  fuzzers/059-pip-byp-bounce/Makefile
  fuzzers/059-pip-byp-bounce/README.md
  fuzzers/059-pip-byp-bounce/generate.tcl
  fuzzers/059-pip-byp-bounce/top.v
  fuzzers/Makefile
Labels: parts-docs, parts-fuzzers

#879 Avoid building full speed_model dict.
  fuzzers/074-dump_all/jobtiles.tcl
Labels: parts-fuzzers

#880 Add HCLK ppips.
  fuzzers/058-pip-hclk/Makefile
  fuzzers/071-ppips/generate.tcl
Labels: parts-fuzzers

#856 kokoro: Pack failing test cases instead of vivado logs
  .github/kokoro/continuous-db-artix7.cfg
  .github/kokoro/continuous-db-kintex7.cfg
  .github/kokoro/continuous-db-zynq7.cfg
  .github/kokoro/db-full.sh
  .github/kokoro/kokoro-cfg.py
  .github/kokoro/presubmit-db-artix7.cfg
  .github/kokoro/presubmit-db-kintex7.cfg
  .github/kokoro/presubmit-db-zynq7.cfg
Labels: parts-infra

#870 An utility script that helps to find missing segbits
  utils/find_missing_segbits.py
Labels: parts-tools

#882 007-timing: Do not emit SDF files for sites with no timings.
  database/Makefile
  fuzzers/007-timing/bel/tim2json.py
Labels: parts-fuzzers

#869 Implement todo lists balancing mechanism
  fuzzers/int_maketodo.py
Labels: parts-docs, parts-fuzzers, parts-infra

#888 050-pip-seed: Don't solve BYP_ALT|IMUX.LOGIC_OUTS_ bits
  fuzzers/050-pip-seed/generate.py
Labels: parts-fuzzers

#857 Fixed fuzzer 007 to make it extract missing timings for FFs
  fuzzers/007-timing/bel/Makefile
  fuzzers/007-timing/bel/README.md
  fuzzers/007-timing/bel/fixup_timings_txt.py
  fuzzers/007-timing/bel/pin_alias_map.json
  fuzzers/007-timing/bel/tim2json.py
Labels: parts-docs, parts-fuzzers

#900 Add support to zero db to support simple groups.
  fuzzers/000-init-db/Makefile
  fuzzers/011-clb-ffconfig/Makefile
  fuzzers/011-clb-ffconfig/bits.dbf
  fuzzers/011-clb-ffconfig/generate.py
  fuzzers/019-clb-ndi1mux/Makefile
  fuzzers/019-clb-ndi1mux/bits.dbf
  fuzzers/019-clb-ndi1mux/generate.py
  utils/dbfixup.py
Labels: parts-fuzzers, parts-tools

#838 041-clk-hrow-pips: Fix timeout and bit collision problems
  fuzzers/041-clk-hrow-pips/Makefile
  fuzzers/041-clk-hrow-pips/generate.py
  fuzzers/Makefile
  fuzzers/int_maketodo.py
Labels: parts-docs, parts-fuzzers, parts-infra, parts-tools

#906 Calculate base addresses for IOI tiles
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/generate_full.py
  fuzzers/005-tilegrid/ioi/Makefile
  fuzzers/005-tilegrid/ioi/generate.tcl
  fuzzers/005-tilegrid/ioi/top.py
Labels: parts-fuzzers

#901 BEL fuzzer stabilization
  fuzzers/007-timing/bel/tim2json.py
Labels: parts-fuzzers

#908 007-timing: added missing aliases for bram timing
  fuzzers/007-timing/bel/pin_alias_map.json
Labels: parts-fuzzers

#909 Add ROI base file that adds a clock divider.
  minitests/roi_harness/roi_base_div2.v
Labels: parts-minitests

#896 Fix problem with falsely ignored PIPs
  fuzzers/int_generate.py
Labels: parts-fuzzers
