Repository f4pga/prjxray, pull requests merged in 2019-07, with the labels that each got.

#915 Calculate base addresses for HCLK_IOI3 tiles.
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/generate_full.py
  fuzzers/005-tilegrid/hclk_ioi/Makefile
  fuzzers/005-tilegrid/hclk_ioi/generate.tcl
  fuzzers/005-tilegrid/hclk_ioi/top.py
Labels: parts-fuzzers

#916 Minitests for SRLs
  minitests/srl/Makefile
  minitests/srl/README.md
  minitests/srl/par.tcl
  minitests/srl/srl32_init.v
  minitests/srl/srl32_x1.v
  minitests/srl/srl32_x1_and_lut6_x3.v
  minitests/srl/srl32_x2.v
  minitests/srl/srl32_x2_and_lut6_x2.v
  minitests/srl/srl32_x2_chain.v
  minitests/srl/srl32_x3.v
  minitests/srl/srl32_x3_and_lut6_x1.v
  minitests/srl/srl32_x3_chain.v
  minitests/srl/srl32_x4.v
  minitests/srl/srl32_x4_chain.v
  minitests/srl/syn.tcl
Labels: parts-docs, parts-minitests

#926 Add PLL fuzzer
  fuzzers/000-init-db/Makefile
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/pll/Makefile
  fuzzers/032-cmt-pll/Makefile
  fuzzers/032-cmt-pll/README.md
  fuzzers/032-cmt-pll/generate.py
  fuzzers/032-cmt-pll/generate.tcl
  fuzzers/032-cmt-pll/top.py
  fuzzers/032-cmt-pll/write_pll_reg.py
  fuzzers/034-cmt-pll-pips/Makefile
  fuzzers/034-cmt-pll-pips/bits.dbf
  fuzzers/034-cmt-pll-pips/cmt_top_upper_t.tcl
  fuzzers/034-cmt-pll-pips/generate.py
  fuzzers/034-cmt-pll-pips/generate.tcl
  fuzzers/034-cmt-pll-pips/top.py
  fuzzers/Makefile
  prjxray/segmaker.py
  utils/mergedb.py
  utils/mergedb.sh
  utils/parsedb.py
Labels: parts-docs, parts-fuzzers, parts-tools

#938 fuzzers: tilegrid: mmcme: LOC mmcme2_adv instances
  fuzzers/005-tilegrid/mmcm/top.py
Labels: parts-fuzzers

#935 Expand ILOGIC fuzzer to document additional ISERDES bits.
  fuzzers/035-iob-ilogic/generate.py
  fuzzers/035-iob-ilogic/generate.tcl
  fuzzers/035-iob-ilogic/top.py
Labels: parts-fuzzers

#933 Fuzzer for DOUTMUX.MC31 and DFFMUX.MC31
  fuzzers/015-clb-nffmux/Makefile
  fuzzers/015-clb-nffmux/generate.py
  fuzzers/015-clb-nffmux/top.py
  fuzzers/016-clb-noutmux/Makefile
  fuzzers/016-clb-noutmux/generate.py
  fuzzers/016-clb-noutmux/top.py
  fuzzers/clb_ext.mk
Labels: parts-fuzzers

#941 Fix D9/B8 in arty-swbut harness.
  minitests/roi_harness/arty-swbut.sh
  minitests/roi_harness/runme.tcl
Labels: parts-minitests

#907 Fuzzer for CFG_CENTER_MID tile
  fuzzers/038-cfg/Makefile
  fuzzers/038-cfg/README.md
  fuzzers/038-cfg/bits.dbf
  fuzzers/038-cfg/generate.py
  fuzzers/038-cfg/generate.sh
  fuzzers/038-cfg/generate.tcl
  fuzzers/038-cfg/top.py
  fuzzers/Makefile
  prjxray/verilog.py
  utils/mergedb.sh
Labels: parts-docs, parts-fuzzers, parts-tools

#945 int_loop_check.py: Fix output formatting
  fuzzers/int_loop_check.py
Labels: parts-fuzzers

#936 Add fuzzer for HCLK_IOI3 PIPs
  fuzzers/047-hclk-ioi-pips/Makefile
  fuzzers/047-hclk-ioi-pips/README.md
  fuzzers/047-hclk-ioi-pips/bits.dbf
  fuzzers/047-hclk-ioi-pips/generate.py
  fuzzers/047-hclk-ioi-pips/generate.tcl
  fuzzers/047-hclk-ioi-pips/hclk_ioi3_pip_list.tcl
  fuzzers/047-hclk-ioi-pips/output_cmt.tcl
  fuzzers/047-hclk-ioi-pips/top.py
  fuzzers/Makefile
  utils/mergedb.sh
Labels: parts-docs, parts-fuzzers, parts-minitests, parts-third-party, parts-tools

#946 Fuzzer for IDELAY
  fuzzers/035a-iob-idelay/Makefile
  fuzzers/035a-iob-idelay/bits.dbf
  fuzzers/035a-iob-idelay/generate.py
  fuzzers/035a-iob-idelay/generate.tcl
  fuzzers/035a-iob-idelay/top.py
  fuzzers/Makefile
  prjxray/segmaker.py
  utils/mergedb.sh
Labels: parts-fuzzers, parts-tools

#957 Update 035a using knowledge from #954 tool.
  fuzzers/035a-iob-idelay/bits.dbf
  fuzzers/035a-iob-idelay/generate.py
Labels: parts-fuzzers

#967 036-iob-ologic: Solve bits for DATA_RATE_OQ
  fuzzers/036-iob-ologic/generate.py
Labels: parts-fuzzers

#969 Calculate carry timings
  fuzzers/007-timing/Makefile
  fuzzers/007-timing/bel/Makefile
  fuzzers/007-timing/bel/carry4delays.py
  fuzzers/007-timing/routing-bels/Makefile
Labels: parts-fuzzers

#968 Pushing bits for IOI3 to the DB also for TBYTESRC and TBYTETERM tiles
  fuzzers/035a-iob-idelay/Makefile
  utils/mergedb.sh
Labels: parts-fuzzers, parts-tools

#971 Add some additional OLOGIC bits.
  fuzzers/036-iob-ologic/generate.py
  fuzzers/036-iob-ologic/top.py
Labels: parts-fuzzers

#975 036-ologic: add IN_USE oserdes
  fuzzers/036-iob-ologic/generate.py
  fuzzers/036-iob-ologic/generate.tcl
  fuzzers/036-iob-ologic/top.py
Labels: parts-fuzzers

#970 Refactor IOB fuzzer.
  fuzzers/030-iob/Makefile
  fuzzers/030-iob/bits.dbf
  fuzzers/030-iob/check_results.py
  fuzzers/030-iob/generate.py
  fuzzers/030-iob/generate.tcl
  fuzzers/030-iob/process_rdb.py
  fuzzers/030-iob/top.py
  fuzzers/030-iob/write_io_banks.tcl
  minitests/litex/src.yosys/Makefile
  minitests/litex/src.yosys/top.tcl
Labels: parts-fuzzers, parts-minitests

#977 ISERDES FASM feature improvements
  fuzzers/035-iob-ilogic/generate.py
  fuzzers/035-iob-ilogic/generate.tcl
  fuzzers/035-iob-ilogic/top.py
Labels: parts-fuzzers

#976 Add additional features for IDELAY.
  fuzzers/035a-iob-idelay/generate.py
  fuzzers/035a-iob-idelay/top.py
Labels: parts-fuzzers

#979 Add alias for IOI3_SING tiles
  fuzzers/005-tilegrid/generate_full.py
Labels: parts-fuzzers

#934 IOI3_INTER pips fuzzer
  fuzzers/000-init-db/Makefile
  fuzzers/037-iob-pips/Makefile
  fuzzers/037-iob-pips/bits.dbf
  fuzzers/037-iob-pips/generate.py
  fuzzers/037-iob-pips/generate.tcl
  fuzzers/037-iob-pips/ioi3_pip_list.tcl
  fuzzers/037-iob-pips/output_cmt.tcl
  fuzzers/037-iob-pips/top.py
  fuzzers/Makefile
  fuzzers/int_maketodo.py
Labels: parts-fuzzers, parts-infra, parts-tools

#983 Add initial DIFF_ support to IOB fuzzer.
  fuzzers/030-iob/check_results.py
  fuzzers/030-iob/generate.py
  fuzzers/030-iob/generate.tcl
  fuzzers/030-iob/process_rdb.py
  fuzzers/030-iob/top.py
Labels: parts-fuzzers

#981 Add TSRTYPE features to OLOGIC fuzzer
  fuzzers/036-iob-ologic/generate.py
Labels: parts-fuzzers

#984 Create script for generating remaining LiteX bit report.
  minitests/litex/src.yosys/missing_bit_report.py
Labels: parts-minitests

#985 Relax pip filtering to find additional HCLK_IOI3 pip bits.
  fuzzers/000-init-db/Makefile
  fuzzers/047-hclk-ioi-pips/generate.py
  fuzzers/047-hclk-ioi-pips/hclk_ioi3_pip_list.tcl
Labels: parts-fuzzers

#993 Add ISERDESE2.DATA_WIDTH's 2-8.
  fuzzers/035-iob-ilogic/bits.dbf
  fuzzers/035-iob-ilogic/generate.py
  fuzzers/035-iob-ilogic/top.py
Labels: parts-fuzzers

#999 Restore int_maketodo support for non-LR sides.
  fuzzers/int_maketodo.py
Labels: parts-fuzzers

#994 Refactor clock invert tags for ISERDES/OSERDES.
  fuzzers/035-iob-ilogic/generate.py
  fuzzers/035-iob-ilogic/top.py
  fuzzers/036-iob-ologic/generate.py
Labels: parts-fuzzers

#986 Add HCLK_IOI3.INTERNAL_VREF feature.
  fuzzers/030-iob/Makefile
  fuzzers/030-iob/generate.py
  fuzzers/030-iob/hclk_bits.dbf
  fuzzers/030-iob/top.py
  fuzzers/030-iob/write_io_banks.tcl
Labels: parts-fuzzers
