Repository f4pga/prjxray, pull requests merged in 2019-01, with the labels that each got.

#430 fuzzers: 074: add zynq7_ignored_wires
  fuzzers/074-dump_all/zynq7_ignored_wires.txt
Labels: fuzzers

#433 minitests: roi_harness: use XRAY_DATABASE env
  minitests/roi_harness/runme.sh
Labels: minitests

#437 fuzzers: 017: rename PRECYINIT_{0|1} -> PRECYINIT_{C0|C1}
  fuzzers/017-clbprecyinit/bits.dbf
  fuzzers/017-clbprecyinit/generate.py
Labels: fuzzers

#442 vivado: assert expected version
  utils/environment.sh
  utils/vivado.sh
Labels: tools

#446 top_generate.sh => top_generate.mk
  fuzzers/fuzzer.mk
  utils/genheader.sh
  utils/top_generate.mk
  utils/top_generate.sh
Labels: fuzzers, tools

#445 utils: segprint: Fix issue #443 with segprint -b
  utils/segprint.py
Labels: tools

#449 minitest: clean up folders
  fuzzers/011-clb-ffconfig/minitest/.gitignore
  fuzzers/011-clb-ffconfig/minitest/Makefile
  fuzzers/011-clb-ffconfig/minitest/README.md
  fuzzers/011-clb-ffconfig/minitest/top.v
  fuzzers/012-clb-n5ffmux/minitest/.gitignore
  fuzzers/012-clb-n5ffmux/minitest/Makefile
  fuzzers/012-clb-n5ffmux/minitest/README.md
  fuzzers/012-clb-n5ffmux/minitest/top.v
  fuzzers/013-clb-ncy0/minitest/.gitignore
  fuzzers/013-clb-ncy0/minitest/Makefile
  fuzzers/013-clb-ncy0/minitest/README.md
  fuzzers/013-clb-ncy0/minitest/top.v
  fuzzers/015-clb-nffmux/minitest/.gitignore
  fuzzers/015-clb-nffmux/minitest/Makefile
  fuzzers/015-clb-nffmux/minitest/README.md
  fuzzers/015-clb-nffmux/minitest/top.v
  fuzzers/018-clb-ram/minitest/.gitignore
  fuzzers/018-clb-ram/minitest/Makefile
  fuzzers/018-clb-ram/minitest/README.md
  fuzzers/018-clb-ram/minitest/top.v
  fuzzers/019-clb-ndi1mux/minitest/.gitignore
  fuzzers/019-clb-ndi1mux/minitest/Makefile
  fuzzers/019-clb-ndi1mux/minitest/README.md
  fuzzers/019-clb-ndi1mux/minitest/top.v
  minitests/clb-bused/.gitignore
  minitests/clb-bused/Makefile
  minitests/clb-bused/README.md
  minitests/clb-bused/top.v
  minitests/clb-carry_cin_cyinit/README
  minitests/clb-carry_cin_cyinit/runme.tcl
  minitests/clb-carry_cin_cyinit/top.v
  minitests/clb-configs/.gitignore
  minitests/clb-configs/README
  minitests/clb-configs/runme.sh
  minitests/clb-configs/runme.tcl
  minitests/clb-configs/top.v
  minitests/clb-muxf8/.gitignore
  minitests/clb-muxf8/Makefile
  minitests/clb-muxf8/README.md
  minitests/clb-muxf8/top.v
  minitests/pip-switchboxes/.gitignore
  minitests/pip-switchboxes/README
  minitests/pip-switchboxes/pips.tcl
  minitests/pip-switchboxes/routes.tcl
  minitests/pip-switchboxes/runme.sh
  minitests/pip-switchboxes/runme.tcl
  minitests/pip-switchboxes/top.v
Labels: docs, fuzzers, minitests

#455 addrwidth utility
  prjxray/bitstream.py
  prjxray/util.py
  utils/addrwidth.py
Labels: tools

#457 Fix htmlgen #173
  htmlgen/htmlgen.py
Labels: tools

#461 segprint: fix -b flag, working on tilegrid directly
  utils/segprint.py
Labels: tools

#464 Bug #171: Fixing build directory for Fuzzers 071
  fuzzers/071-ppips/Makefile
  fuzzers/071-ppips/generate.sh
  fuzzers/071-ppips/generate.tcl
Labels: fuzzers

#468 Fix indenting in mergedb.py
  utils/mergedb.py
Labels: tools

#470 segprint: --bit-only
  utils/segprint.py
Labels: tools

#475 tilegrid: fix "multi" regression
  fuzzers/005-tilegrid/fuzzaddr/generate.py
Labels: fuzzers

#479 bram config: DOX_REG, clean up
  fuzzers/025-bram-config/generate.py
Labels: fuzzers

#478 Add ppips for bram
  fuzzers/071-ppips/Makefile
  fuzzers/071-ppips/generate.tcl
Labels: fuzzers

#462 PS7 INT on Zynq
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/ps7_int/Makefile
  fuzzers/005-tilegrid/ps7_int/generate.tcl
  fuzzers/005-tilegrid/ps7_int/top.py
  settings/zynq7.sh
Labels: fuzzers

#482 005-tilegrid/add_tdb.py: added frame check
  fuzzers/005-tilegrid/add_tdb.py
Labels: fuzzers

#474 05x fuzzers rework
  fuzzers/051-pip-imuxlout/Makefile
  fuzzers/051-pip-imuxlout/generate.tcl
  fuzzers/051-pip-imuxlout/picorv32.v
  fuzzers/051-pip-imuxlout/top.v
  fuzzers/056-pip-rem/Makefile
  fuzzers/056-pip-rem/generate.py
  fuzzers/int_generate.py
  fuzzers/int_loop.sh
  utils/top_generate.mk
  utils/top_generate.sh
Labels: fuzzers, tools

#486 timfuz: update readme
  fuzzers/007-timing/README.md
Labels: docs, fuzzers

#491 Making tests run on travis
  .github/update-contributing.py
  .travis.yml
  CONTRIBUTING.md
  Makefile
  gridinfo/gridinfo-txt2json.py
  htmlgen/htmlgen.py
  prjxray/util.py
  requirements.txt
  tests/test_util.py
  utils/fasm2frames.py
  utils/simpleroute.py
  utils/test_fasm2frames.py
  utils/tileconnloops.py
  utils/tileconnwire.py
Labels: docs, infra, tools

#500 fuzzers: int: create empty DB if it doesn't exist
  fuzzers/int_create_empty_db.sh
  fuzzers/int_loop.mk
Labels: fuzzers

#504 Improve clb READMEs
  fuzzers/010-clb-lutinit/README.md
  fuzzers/011-clb-ffconfig/README.md
  fuzzers/012-clb-n5ffmux/README.md
  fuzzers/013-clb-ncy0/README.md
  fuzzers/014-clb-ffsrcemux/README.md
  fuzzers/015-clb-nffmux/README.md
  fuzzers/016-clb-noutmux/README.md
  fuzzers/017-clb-precyinit/README.md
  fuzzers/018-clb-ram/README.md
  fuzzers/019-clb-ndi1mux/README.md
Labels: docs, fuzzers

#502 pip (especially imuxlout) quick
  fuzzers/051-pip-imuxlout/generate.tcl
  fuzzers/int_loop.mk
  fuzzers/piplist.tcl
Labels: fuzzers

#505 fuzzers: 52: retry routing if it fails
  fuzzers/052-pip-clkin/generate.tcl
Labels: fuzzers

#490 Add utility to convert from bit to FASM in one program.
  minitests/roi_harness/bit2fasm.sh
  utils/bit2fasm.py
  utils/bits2fasm.py
Labels: minitests, tools

#506 Remove asserts checking only artix7 / kintex7.
  fuzzers/052-pip-clkin/generate.py
  fuzzers/053-pip-ctrlin/generate.py
  fuzzers/057-pip-bi/generate.py
Labels: fuzzers

#507 Fixing Fuzzer 072: supporting all pips count
  fuzzers/072-ordered_wires/run_fuzzer.py
Labels: fuzzers

#509 part-yaml: build dir
  fuzzers/001-part-yaml/.gitignore
  fuzzers/001-part-yaml/Makefile
  fuzzers/001-part-yaml/Makefile.specimen
  fuzzers/001-part-yaml/generate.tcl
Labels: fuzzers

#516 fuzzers: 074: fix path to generate_after_dump
  fuzzers/074-dump_all/generate.sh
Labels: fuzzers

#513 fuzzers: int_loop: create empty DB also in seeded target
  fuzzers/int_loop.mk
Labels: fuzzers

#512 Increase N for NFFMUX and NOUTMUX to prevent false matches.
  fuzzers/015-clb-nffmux/Makefile
  fuzzers/016-clb-noutmux/Makefile
Labels: fuzzers

#520 fuzzers: Copy all the db files to build/database
  fuzzers/int_loop.mk
Labels: fuzzers

#527 Add retries to bidirection PIP fuzzer.
  fuzzers/057-pip-bi/generate.tcl
Labels: fuzzers

#518 fuzzers: remove fuzzer 054
  fuzzers/054-pip-gfan/Makefile
  fuzzers/054-pip-gfan/README.md
  fuzzers/054-pip-gfan/generate.py
  fuzzers/054-pip-gfan/generate.sh
  fuzzers/054-pip-gfan/generate.tcl
  fuzzers/054-pip-gfan/top.v
  fuzzers/Makefile
Labels: docs, fuzzers

#531 create empty db files if they don't exist
  fuzzers/int_loop.mk
  settings/artix7.sh
  settings/kintex7.sh
  settings/zynq7.sh
  utils/environment.sh
Labels: experiments, fuzzers, minitests, tools

#533 Generate piplist once
  fuzzers/050-pip-seed/Makefile
  fuzzers/057-pip-bi/bipiplist.tcl
  fuzzers/int_loop.mk
  fuzzers/int_maketodo.py
  fuzzers/piplist/piplist.tcl
  fuzzers/piplist/piplist.v
  utils/environment.sh
Labels: fuzzers, tools

#535 Increase solved PIPs per loop to 50.
  fuzzers/051-pip-imuxlout/Makefile
  fuzzers/052-pip-clkin/Makefile
  fuzzers/int_loop.mk
Labels: fuzzers

#503 005-tilegrid/generate_full: propagating INT_L base addrs
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/generate_full.py
  fuzzers/005-tilegrid/util.py
Labels: fuzzers

#547 Fix clean not working in 005-tilegrid
  fuzzers/005-tilegrid/Makefile
Labels: fuzzers

#546 Call bit2fasm.py instead of bits2fasm.py
  minitests/roi_harness/runme.sh
Labels: minitests

#543 01x CLB rerun if pushdb fails
  fuzzers/011-clb-ffconfig/top.py
  fuzzers/012-clb-n5ffmux/top.py
  fuzzers/013-clb-ncy0/top.py
  fuzzers/014-clb-ffsrcemux/top.py
  fuzzers/015-clb-nffmux/top.py
  fuzzers/016-clb-noutmux/top.py
  fuzzers/017-clb-precyinit/top.py
  fuzzers/018-clb-ram/top.py
  fuzzers/019-clb-ndi1mux/top.py
  fuzzers/clb.mk
  fuzzers/fuzzer.mk
Labels: fuzzers

#536 Increase CLB match requirement.
  fuzzers/clb.mk
Labels: fuzzers

#544 051 bypalts
  fuzzers/051-pip-imuxlout-bypalts/Makefile
  fuzzers/051-pip-imuxlout-bypalts/README.md
  fuzzers/051-pip-imuxlout-bypalts/generate.sh
  fuzzers/051-pip-imuxlout-bypalts/generate.tcl
  fuzzers/051-pip-imuxlout-bypalts/picorv32.v
  fuzzers/051-pip-imuxlout-bypalts/top.v
  fuzzers/051-pip-imuxlout/Makefile
  fuzzers/Makefile
Labels: docs, fuzzers

#548 fuzzer.mk: remove not needed echo
  fuzzers/fuzzer.mk
Labels: fuzzers

#539 Filter some CLB bits that the INT fuzzers tend to include due to high correlation
  fuzzers/050-pip-seed/generate.py
  fuzzers/055-pip-gnd/generate.py
  fuzzers/int_generate.py
  prjxray/bitfilter.py
Labels: fuzzers

#550 minitests: ROI harness: call python interpreter explicitly
  minitests/roi_harness/runme.sh
Labels: minitests

#526 Reworking Fuzzer 074 for multi thread process
  fuzzers/074-dump_all/Makefile
  fuzzers/074-dump_all/generate.sh
  fuzzers/074-dump_all/get_nodescount.tcl
  fuzzers/074-dump_all/get_tilescount.tcl
  fuzzers/074-dump_all/jobnodes.tcl
  fuzzers/074-dump_all/jobtiles.tcl
  fuzzers/074-dump_all/run_fuzzer.py
Labels: fuzzers

#549 Refactor 074 post-processing
  fuzzers/074-dump_all/reduce_tile_types.py
  prjxray/node_lookup.py
Labels: fuzzers

#555 Adding modular arguments for parallel Fuzzer 072
  fuzzers/072-ordered_wires/Makefile
  fuzzers/072-ordered_wires/generate.sh
  fuzzers/072-ordered_wires/run_fuzzer.py
Labels: fuzzers

#556 Fuzzer 074 support integer multiple of nbBlocks
  fuzzers/074-dump_all/run_fuzzer.py
Labels: fuzzers

#553 Add utility for diffing segbits from two databases.
  utils/diff_db_bits.py
Labels: tools

#552 Add utility to compare JSON from two database's.
  utils/diff_db_json.py
Labels: tools

#559 Increase 056 strictness.
  fuzzers/056-pip-rem/Makefile
Labels: fuzzers

#561 Add tilegrid tool
  requirements.txt
  utils/tilegrid_report.py
Labels: tools

#563 Add filtering to tilegrid report and options for reporting output.
  utils/tilegrid_report.py
Labels: tools

#570 pips-hclk: add run.ok to Makefile
  fuzzers/058-pip-hclk/Makefile
Labels: fuzzers

#573 Fuzzers: Makefile: use single colon target for run.ok targets
  fuzzers/Makefile
Labels: fuzzers

#565 New `make formatdb` target
  Makefile
  requirements.txt
  utils/cmp.py
  utils/info_md.py
  utils/sort_db.py
Labels: tools

#577 Set bit2fasm.py as executable and increase context on JSON diff.
  utils/bit2fasm.py
  utils/diff_db_json.py
Labels: tools

#585 Fuzzers: 019: set N=3
  fuzzers/019-clb-ndi1mux/Makefile
Labels: fuzzers

#586 fuzzers: Makefile: add explicit all target
  fuzzers/Makefile
Labels: fuzzers

#581 BRAM Cascade pip fuzzer.
  fuzzers/060-bram-cascades/Makefile
  fuzzers/060-bram-cascades/bits.dbf
  fuzzers/060-bram-cascades/bram_pip_list.tcl
  fuzzers/060-bram-cascades/generate.py
  fuzzers/060-bram-cascades/generate.sh
  fuzzers/060-bram-cascades/generate.tcl
  fuzzers/060-bram-cascades/top.py
  fuzzers/060-bram-cascades/unmanagle_pips.py
  fuzzers/071-ppips/generate.tcl
  fuzzers/int_loop.mk
  fuzzers/int_maketodo.py
  fuzzers/pip_loop.mk
  utils/dbfixup.py
  utils/environment.sh
  utils/top_generate.mk
Labels: fuzzers, tools
