Repository f4pga/prjxray, pull requests merged in 2019-02, with the labels that each got.

#594 fuzzers: Fix including Makefiles.
  fuzzers/clb.mk
  fuzzers/int_loop.mk
Labels: fuzzers

#598 Fix handling of ppip in tiles without segbits
  prjxray/fasm_assembler.py
Labels: fuzzers

#599 Makes minor documentation changes for tilegrid fuzzer
  fuzzers/005-tilegrid/README.md
Labels: docs, fuzzers

#602 fuzzers: 074-dump_all depends on 005-tilegrid.
  fuzzers/Makefile
Labels: fuzzers

#605 fuzzers: Add 000-init-db fuzzer.
  fuzzers/000-init-db/Makefile
  fuzzers/Makefile
  settings/artix7.sh
  settings/kintex7.sh
  settings/zynq7.sh
  utils/environment.sh
Labels: fuzzers, tools

#609 Revert Makefile changes, Fixes #582
  fuzzers/100-dsp-mskpat/Makefile
Labels: fuzzers

#610 Remove additional dependencies.
  fuzzers/100-dsp-mskpat/Makefile
Labels: fuzzers

#608 Add fuzzer for BRAM/FIFO enable bits.
  fuzzers/029-bram-fifo-config/Makefile
  fuzzers/029-bram-fifo-config/bits.dbf
  fuzzers/029-bram-fifo-config/generate.py
  fuzzers/029-bram-fifo-config/generate.tcl
  fuzzers/029-bram-fifo-config/top.py
  fuzzers/060-bram-cascades/top.py
  fuzzers/Makefile
  prjxray/lut_maker.py
Labels: fuzzers

#606 roi_harness: added zybo support
  minitests/roi_harness/arty.sh
  minitests/roi_harness/basys3.sh
  minitests/roi_harness/runme.sh
  minitests/roi_harness/runme.tcl
  minitests/roi_harness/zybo.sh
Labels: minitests

#612 Refactor INT fuzzers.
  fuzzers/050-pip-seed/generate.py
  fuzzers/050-pip-seed/generate.tcl
  fuzzers/051-pip-imuxlout-bypalts/generate.sh
  fuzzers/051-pip-imuxlout-bypalts/generate.tcl
  fuzzers/052-pip-clkin/generate.py
  fuzzers/052-pip-clkin/generate.sh
  fuzzers/052-pip-clkin/generate.tcl
  fuzzers/053-pip-ctrlin/generate.py
  fuzzers/053-pip-ctrlin/generate.sh
  fuzzers/053-pip-ctrlin/generate.tcl
  fuzzers/055-pip-gnd/generate.py
  fuzzers/055-pip-gnd/generate.tcl
  fuzzers/056-pip-rem/generate.sh
  fuzzers/056-pip-rem/generate.tcl
  fuzzers/057-pip-bi/Makefile
  fuzzers/057-pip-bi/generate.sh
  fuzzers/060-bram-cascades/generate.sh
  fuzzers/int_generate.py
  utils/utils.tcl
Labels: fuzzers, tools

#615 Add retries to 053 and 055 INT fuzzers.
  fuzzers/053-pip-ctrlin/generate.tcl
  fuzzers/055-pip-gnd/generate.tcl
Labels: fuzzers

#619 Fix frame initialization regression.
  prjxray/fasm_assembler.py
  prjxray/tile_segbits.py
  utils/bit2fasm.py
Labels: tools

#596 Adding wrapper to get understandable output.
  .gitignore
  database/Makefile
  fuzzers/Makefile
  fuzzers/fuzzer.mk
  fuzzers/pip_loop.mk
  fuzzers/run_fuzzer.py
  requirements.txt
Labels: fuzzers, tools

#540 Support for CI using Google Compute Engine
  .github/kokoro/continuous-db-artix7.cfg
  .github/kokoro/continuous-db-kintex7.cfg
  .github/kokoro/continuous-db-zynq7.cfg
  .github/kokoro/ctest2junit.xsl
  .github/kokoro/database.cfg
  .github/kokoro/db-full.sh
  .github/kokoro/db-quick.sh
  .github/kokoro/kokoro-cfg.py
  .github/kokoro/presubmit-db-artix7.cfg
  .github/kokoro/presubmit-db-kintex7.cfg
  .github/kokoro/presubmit-db-zynq7.cfg
  .github/kokoro/steps/git.sh
  .github/kokoro/steps/hostinfo.sh
  .github/kokoro/steps/hostsetup.sh
  .github/kokoro/steps/prjxray-env.sh
  .github/kokoro/steps/xilinx.sh
  .github/kokoro/tests.cfg
  .github/kokoro/tests.sh
  .travis.yml
  Makefile
  download-latest-db.sh
  fuzzers/Makefile
  utils/info_md.py
Labels: fuzzers, infra, tools

#621 Add XADC INT and ICAP INT fuzzers to solve 2 of 4 missing INT columns.
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/cfg_int/Makefile
  fuzzers/005-tilegrid/cfg_int/generate.tcl
  fuzzers/005-tilegrid/cfg_int/top.py
  fuzzers/005-tilegrid/monitor_int/Makefile
  fuzzers/005-tilegrid/monitor_int/generate.tcl
  fuzzers/005-tilegrid/monitor_int/top.py
Labels: fuzzers

#624 infra: Improve the diff output.
  .github/kokoro/db-full.sh
Labels: infra

#625 Cleaning up cloudbuild environment
  .github/cloudbuild.yaml
  .github/cloudbuild/Dockerfile
Labels: infra

#627 Fixing the autolabeler configuration.
  .github/autolabeler.yml
Labels: infra

#630 segmatch: added warning for missing files
  tools/segmatch.cc
Labels: parts-tools

#633 Increase number of tiles available for retries for 057.
  fuzzers/057-pip-bi/generate.tcl
Labels: parts-fuzzers

#629 Fix htmlgen for new settings file locations.
  htmlgen/htmlgen.py
Labels: parts-tools

#634 Update CI configuration:
  .github/kokoro/database.cfg
  .github/kokoro/db-full.sh
  fuzzers/run_fuzzer.py
Labels: parts-fuzzers, parts-infra

#632 WIP: Dup jobserver fd's for retry.
  fuzzers/run_fuzzer.py
Labels: parts-infra

#637 Add optional bits output for debugging.
  utils/bit2fasm.py
Labels: parts-tools

#631 checkdb: optimized script and added out-of-bound check
  prjxray/util.py
  utils/checkdb.py
Labels: parts-tools

#639 FAN_ALT.*GFAN pips fuzzer
  fuzzers/050-pip-seed/Makefile
  fuzzers/054-pip-fan-alt/Makefile
  fuzzers/054-pip-fan-alt/README.md
  fuzzers/054-pip-fan-alt/generate.tcl
  fuzzers/054-pip-fan-alt/top.v
  fuzzers/Makefile
Labels: parts-docs, parts-fuzzers

#640 checkdb.py: restored check on all previous tiles
  utils/checkdb.py
Labels: parts-tools

#638 Add CLK HROW bits
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/clk_hrow/Makefile
  fuzzers/005-tilegrid/clk_hrow/generate.tcl
  fuzzers/005-tilegrid/clk_hrow/top.py
  fuzzers/040-clk-hrow-config/Makefile
  fuzzers/040-clk-hrow-config/bits.dbf
  fuzzers/040-clk-hrow-config/generate.py
  fuzzers/040-clk-hrow-config/generate.tcl
  fuzzers/040-clk-hrow-config/top.py
  fuzzers/041-clk-hrow-pips/Makefile
  fuzzers/041-clk-hrow-pips/bits.dbf
  fuzzers/041-clk-hrow-pips/clk_hrow_pip_list.tcl
  fuzzers/041-clk-hrow-pips/clk_table.py
  fuzzers/041-clk-hrow-pips/generate.py
  fuzzers/041-clk-hrow-pips/generate.tcl
  fuzzers/041-clk-hrow-pips/merge_clk_entries.py
  fuzzers/041-clk-hrow-pips/output_cmt.tcl
  fuzzers/041-clk-hrow-pips/top.py
  fuzzers/057-pip-bi/Makefile
  fuzzers/057-pip-bi/generate.tcl
  fuzzers/060-bram-cascades/Makefile
  fuzzers/Makefile
  fuzzers/fuzzer.mk
  fuzzers/int_maketodo.py
  fuzzers/pip_loop.mk
  prjxray/segmaker.py
  prjxray/util.py
  utils/mergedb.py
  utils/mergedb.sh
Labels: parts-fuzzers, parts-tools

#644 074-dump-all: stabilized naming of sites
  fuzzers/074-dump_all/reduce_tile_types.py
  prjxray/lib.py
Labels: parts-fuzzers

#645 Filter out FAN_ALT[0-9].GFAN[0-9] pips from 050.
  fuzzers/050-pip-seed/Makefile
  fuzzers/050-pip-seed/generate.py
Labels: parts-fuzzers

#648 Sort tiles and revamp gen_fuzz_states to be more efficient.
  fuzzers/005-tilegrid/bram/Makefile
  fuzzers/005-tilegrid/bram/top.py
  fuzzers/005-tilegrid/bram_block/Makefile
  fuzzers/005-tilegrid/bram_block/generate.tcl
  fuzzers/005-tilegrid/bram_block/top.py
  fuzzers/005-tilegrid/bram_int/Makefile
  fuzzers/005-tilegrid/clb/Makefile
  fuzzers/005-tilegrid/clb/top.py
  fuzzers/005-tilegrid/clb_int/Makefile
  fuzzers/005-tilegrid/clb_int/top.py
  fuzzers/005-tilegrid/clk_hrow/top.py
  fuzzers/005-tilegrid/dsp/Makefile
  fuzzers/005-tilegrid/dsp/top.py
  fuzzers/005-tilegrid/dsp_int/Makefile
  fuzzers/005-tilegrid/fifo_int/Makefile
  fuzzers/005-tilegrid/iob/Makefile
  fuzzers/005-tilegrid/iob/generate.tcl
  fuzzers/005-tilegrid/iob/top.py
  fuzzers/005-tilegrid/iob_int/Makefile
  fuzzers/005-tilegrid/mmcm/Makefile
  fuzzers/005-tilegrid/mmcm/top.py
  fuzzers/005-tilegrid/monitor/top.py
  fuzzers/005-tilegrid/pll/Makefile
  fuzzers/005-tilegrid/pll/generate.tcl
  fuzzers/005-tilegrid/pll/top.py
  prjxray/util.py
Labels: parts-fuzzers

#636 Add RAM usage to output.
  fuzzers/run_fuzzer.py
Labels: parts-fuzzers

#651 Put memory on own line.
  fuzzers/run_fuzzer.py
Labels: parts-fuzzers

#652 Have 041 use all specimens instead of just latest iteration.
  fuzzers/041-clk-hrow-pips/Makefile
Labels: parts-fuzzers

#649 Limit target pips on zync to avoid unsolvable bits.
  fuzzers/041-clk-hrow-pips/Makefile
  fuzzers/041-clk-hrow-pips/top.py
Labels: parts-fuzzers

#653 Re-enable checkdb now that it isn't slow.
  .github/kokoro/db-full.sh
Labels: parts-infra

#654 Fix missing IOB base address.
  fuzzers/005-tilegrid/iob/Makefile
  fuzzers/005-tilegrid/iob/generate.tcl
  fuzzers/005-tilegrid/iob/top.py
Labels: parts-fuzzers

#655 tile.py: changed get_instance_sites function
  prjxray/tile.py
  utils/quick_test.py
Labels: parts-tools

#650 Add required FASM features to harness
  minitests/roi_harness/create_design_json.py
  minitests/roi_harness/runme.sh
  prjxray/fasm_assembler.py
  settings/artix7.sh
  utils/fasm2frames.py
  utils/segprint.py
Labels: parts-minitests, parts-tools

#663 012-clb-d5ff: increased specimens and added c argument
  fuzzers/012-clb-n5ffmux/Makefile
  fuzzers/clb.mk
Labels: parts-fuzzers

#662 029-bram-fifo: more specimens and added c arg to segmatch
  fuzzers/029-bram-fifo-config/Makefile
Labels: parts-fuzzers

#659 Restore IOB fuzzer and add _Y0 bits.
  fuzzers/030-iob/Makefile
  fuzzers/030-iob/bits.dbf
  fuzzers/030-iob/top.py
Labels: parts-fuzzers

#664 Simplify routing noise in 042
  fuzzers/042-clk-bufg-config/Makefile
  fuzzers/042-clk-bufg-config/generate.py
  fuzzers/042-clk-bufg-config/top.py
  prjxray/state_gen.py
Labels: parts-fuzzers

#666 Disable 042 fuzzer for now, not critical path.
  fuzzers/Makefile
Labels: parts-fuzzers

#668 Add CASCOUT_*_ACTIVE bits.
  fuzzers/060-bram-cascades/generate.py
Labels: parts-fuzzers

#670 Format harness JSON file.
  minitests/roi_harness/create_design_json.py
  minitests/roi_harness/runme.sh
Labels: parts-minitests

#671 Simplify BRAM data fuzzer and rename to match RAMB18E1 parameter names.
  fuzzers/025-bram-config/generate.py
  fuzzers/026-bram-data/generate.py
  fuzzers/026-bram-data/generate.tcl
  fuzzers/026-bram-data/top.py
Labels: parts-fuzzers

#673 Output required_features as a list rather than a string with newlines.
  fuzzers/025-bram-config/generate.py
  minitests/roi_harness/create_design_json.py
  utils/fasm2frames.py
Labels: parts-fuzzers, parts-minitests, parts-tools

#672 Save fuzzer logs, even on success.
  .github/kokoro/db-full.sh
  fuzzers/Makefile
Labels: parts-fuzzers, parts-infra

#674 Add bits for SDP 36-bit BRAM.
  fuzzers/025-bram-config/generate.py
  fuzzers/025-bram-config/top.py
Labels: parts-fuzzers

#656 segmatch.cpp: if f_in does not exits returns -1
  fuzzers/058-pip-hclk/Makefile
  tools/segmatch.cc
Labels: parts-fuzzers, parts-tools

#676 Fix the output of internal routing MUXs in the CLBs.
  htmlgen/htmlgen.py
Labels: parts-tools

#679 Small fix to README in license section.
  README.md
Labels: parts-docs
