Repository f4pga/prjxray, pull requests merged in 2019-05, with the labels that each got.

#823 Resolve missing IOB bits for Zynq
  fuzzers/030-iob/Makefile
  fuzzers/030-iob/generate.py
Labels: parts-fuzzers

#824 Resolve missing CLK_REBUF PIPs bits for Zynq
  fuzzers/043-clk-rebuf-pips/Makefile
Labels: parts-fuzzers

#510 utils: add cleandb tool
  utils/cleandb.py
Labels: parts-tools

#675 Small updates to fuzzer output.
  fuzzers/run_fuzzer.py
Labels: parts-fuzzers

#493 Make most of the fasm2frames.py tests pass again.
  utils/test_data/db/segbits_clblm_l.db
  utils/test_data/db/segbits_hclk_l.db
  utils/test_data/db/segbits_int_l.db
  utils/test_data/db/tile_type_CLBLM_L.json
  utils/test_data/db/tile_type_HCLK_L.json
  utils/test_data/db/tile_type_INT_L.json
  utils/test_data/db/tilegrid.json
  utils/test_data/ff_int.fasm
  utils/test_data/ff_int_0s.fasm
  utils/test_data/ff_int_op1.fasm
  utils/test_data/lut.fasm
  utils/test_data/lut_int.fasm
  utils/test_fasm2frames.py
Labels: parts-tools

#829 056-pip-rem: Delete net and cell after unsuccessful routing attempt
  fuzzers/056-pip-rem/generate.tcl
  fuzzers/Makefile
Labels: parts-fuzzers

#822 045-hclk-cmt-pips: account for hclk_cmt tiles missing from zynq7 and …
  fuzzers/045-hclk-cmt-pips/Makefile
  fuzzers/053-pip-ctrlin/Makefile
  fuzzers/Makefile
Labels: parts-fuzzers

#836 utils: makesdf: sort the output
  utils/makesdf.py
Labels: parts-tools

#835 BEL timings fixes
  fuzzers/007-timing/bel/Makefile
  fuzzers/007-timing/bel/properties_map.json
  fuzzers/007-timing/bel/tim2json.py
  utils/makesdf.py
  utils/sdfmerge.py
Labels: parts-fuzzers, parts-tools

#837 Add target to cleanup all piplists
  .github/kokoro/db-full.sh
  fuzzers/050-pip-seed/Makefile
  fuzzers/Makefile
Labels: parts-fuzzers, parts-infra

#846 Fix bit collision caused by unstable 018-bram fuzzer
  fuzzers/018-clb-ram/Makefile
Labels: parts-fuzzers

#850 Make build scripts of 007 explicitly use python3
  fuzzers/007-timing/bel/Makefile
  fuzzers/007-timing/projects/placelut/generate.sh
  fuzzers/007-timing/projects/placelut_fb/generate.sh
  fuzzers/007-timing/projects/placelut_ff_fb/generate.sh
  fuzzers/007-timing/speed/Makefile
Labels: parts-fuzzers

#842 Generate db files with fuzzer name of origin
  fuzzers/int_maketodo.py
  prjxray/util.py
  utils/checkdb.py
  utils/dbfixup.py
  utils/mergedb.py
  utils/mergedb.sh
  utils/parsedb.py
  utils/sort_db.py
Labels: parts-fuzzers, parts-tools

#859 Adds timing minitest
  minitests/timing/Makefile
  minitests/timing/README.md
  minitests/timing/basys3_demo.v
  minitests/timing/clean_json5.py
  minitests/timing/create_timing_worksheet_db.py
  minitests/timing/picorv32.v
  minitests/timing/picosoc_noflash.v
  minitests/timing/progmem.v
  minitests/timing/runme.tcl
  minitests/timing/simpleuart.v
  minitests/timing/top_aff.v
  minitests/timing/top_bff.v
  minitests/timing/top_cff.v
  minitests/timing/top_counter.v
  minitests/timing/top_dff.v
  minitests/timing/top_dff2.v
  minitests/timing/top_dff_inter.v
  minitests/timing/top_dff_slicem.v
Labels: parts-docs, parts-minitests

#831 057-pip-bi: Increase number of tries to find a suitable PIP INT tile
  fuzzers/057-pip-bi/generate.tcl
  fuzzers/Makefile
Labels: parts-fuzzers, parts-infra

#858 Add wire, pip, and site pin timing information.
  .github/kokoro/db-full.sh
  fuzzers/074-dump_all/create_node_tree.py
  fuzzers/074-dump_all/jobtiles.tcl
  fuzzers/074-dump_all/reduce_tile_types.py
Labels: parts-fuzzers, parts-infra
