Repository f4pga/prjxray, pull requests merged in 2019-09, with the labels that each got.

#1041 Minitest for ISERDES+IDELAY
  minitests/iserdes.idelay/Makefile
  minitests/iserdes.idelay/README.md
  minitests/iserdes.idelay/basys3.xdc
  minitests/iserdes.idelay/basys3_iserdes_idelay_histogram.v
  minitests/iserdes.idelay/sim/error_counter_tb.v
  minitests/iserdes.idelay/sim/iserdes_idelay_histogram_tb.v
  minitests/iserdes.idelay/sim/message_formatter_tb.v
  minitests/iserdes.idelay/sim/run_icarus.sh
  minitests/iserdes.idelay/sim/run_vivado.sh
  minitests/iserdes.idelay/sim/sim.tcl
  minitests/iserdes.idelay/src/error_counter.v
  minitests/iserdes.idelay/src/idelay_calibrator.v
  minitests/iserdes.idelay/src/iserdes_idelay_histogram.v
  minitests/iserdes.idelay/src/lfsr.v
  minitests/iserdes.idelay/src/message_formatter.v
  minitests/iserdes.idelay/src/simpleuart.v
  minitests/iserdes.idelay/tcl/par.tcl
  minitests/iserdes.idelay/tcl/syn.tcl
  minitests/iserdes.idelay/utils/iserdes_idelay_histogram_receiver.py
Labels: parts-docs, parts-minitests, parts-tools

#1046 fuzzers: 038-cfg: Add always on bit for Zynq
  Makefile
  fuzzers/038-cfg/Makefile
  fuzzers/038-cfg/add_constant_bits.py
Labels: parts-fuzzers

#1047 OSERDES minitest
  minitests/oserdes/Makefile
  minitests/oserdes/README.md
  minitests/oserdes/basys3.xdc
  minitests/oserdes/basys3_oserdes_rates.v
  minitests/oserdes/sim/run_vivado.sh
  minitests/oserdes/sim/sim.tcl
  minitests/oserdes/sim/tb_oserdes_test.v
  minitests/oserdes/src/comparator.v
  minitests/oserdes/src/lfsr.v
  minitests/oserdes/src/oserdes_test.v
  minitests/oserdes/tcl/par.tcl
  minitests/oserdes/tcl/syn.tcl
Labels: parts-docs, parts-minitests

#1040 Fixing documentation cross-reference links
  Makefile
  UPDATING-THE-DOCS.md
  docs/Makefile
  docs/architecture/code_of_conduct.md
  docs/architecture/copying.md
  docs/architecture/updating_the_docs.md
  docs/conf.py
  docs/db_dev_process/contributing.md
  docs/db_dev_process/fuzzers/index
  docs/db_dev_process/fuzzers/index.rst
  docs/db_dev_process/minitests/fixedpnr.md
  docs/db_dev_process/minitests/index
  docs/db_dev_process/minitests/index.rst
  docs/db_dev_process/minitests/partial_reconfig_flow.md
  docs/db_dev_process/minitests/picorv32-v.md
  docs/db_dev_process/minitests/picorv32-y.md
  docs/db_dev_process/minitests/roi_harness.md
  docs/db_dev_process/parts.rst
  docs/index.rst
  docs/markdown_code_symlinks.py
  docs/requirements.txt
  minitests/partial_reconfig_flow/README.md
  minitests/roi_harness/README.md
  minitests/timing/README.md
Labels: parts-docs, parts-fuzzers, parts-minitests

#1069 Fix for bits.dbf for fuzzer 034
  fuzzers/034-cmt-pll-pips/bits.dbf
Labels: parts-fuzzers

#1058 Minitest for PLLE2_ADV
  minitests/plle2_adv/Makefile
  minitests/plle2_adv/README.md
  minitests/plle2_adv/basys3.xdc
  minitests/plle2_adv/basys3_plle2_adv.v
  minitests/plle2_adv/src/plle2_test.v
  minitests/plle2_adv/tcl/par.tcl
  minitests/plle2_adv/tcl/syn.tcl
Labels: parts-docs, parts-minitests

#1070 Change theme to Sphinx Material Design
  docs/conf.py
  docs/requirements.txt
Labels: parts-docs

#1071 README/Dependencies - Updated "Quickstart Guide"
  README.md
  requirements.txt
Labels: parts-docs

#1068 Updated README.md for LiteX minitest
  minitests/litex/README.md
Labels: parts-docs, parts-minitests
