Repository f4pga/prjxray, pull requests merged in 2019-12, with the labels that each got.

#1149 001-part-yaml: Add iobanks information to part's json
  fuzzers/001-part-yaml/Makefile
  fuzzers/001-part-yaml/add_iobanks.py
  fuzzers/001-part-yaml/generate.tcl
Labels: parts-docs, parts-fuzzers, parts-minitests

#1163 Zynq7 EMIO minitest
  minitests/z7_blinky_emio/README.md
  minitests/z7_blinky_emio/pl/Makefile
  minitests/z7_blinky_emio/pl/syn+par.tcl
  minitests/z7_blinky_emio/pl/top.v
  minitests/z7_blinky_emio/pl/zybo.xdc
  minitests/z7_blinky_emio/ps/Makefile
  minitests/z7_blinky_emio/ps/blink.ld
  minitests/z7_blinky_emio/ps/blink.s
  minitests/z7_blinky_emio/ps/blink.tcl
Labels: parts-docs, parts-minitests

#1165 071-ppips: fix wrong ppip in ioi tiles
  fuzzers/071-ppips/generate.tcl
Labels: parts-fuzzers

#1157 Minitest for different IOSTANDARDs
  minitests/iostandard/dump_iobs.tcl
  minitests/iostandard/features/Makefile
  minitests/iostandard/features/README.md
  minitests/iostandard/features/analyze.py
  minitests/iostandard/features/generate.py
  minitests/iostandard/features/snippets.py
  minitests/iostandard/syn+par.tcl
Labels: parts-docs, parts-minitests

#1150 Integrate Mini LiteX into Project X-Ray
  minitests/litex/README.md
  minitests/litex/min/arty/scripts/minilitex_arty.py
  minitests/litex/min/arty/src.vivado/Makefile
  minitests/litex/min/arty/src.vivado/top.tcl
  minitests/litex/min/arty/src.vivado/top.xdc
  minitests/litex/min/arty/src.yosys/Makefile
  minitests/litex/min/arty/src.yosys/mem.init
  minitests/litex/min/arty/src.yosys/mem_1.init
  minitests/litex/min/arty/src.yosys/mem_2.init
  minitests/litex/min/arty/src.yosys/synth.ys
  minitests/litex/min/arty/src.yosys/top.tcl
  minitests/litex/min/arty/src.yosys/top.xdc
  minitests/litex/min/arty/verilog/VexRiscv_Lite.v
  minitests/litex/min/arty/verilog/mem.init
  minitests/litex/min/arty/verilog/mem_1.init
  minitests/litex/min/arty/verilog/mem_2.init
  minitests/litex/min/arty/verilog/top.v
Labels: parts-docs, parts-minitests

#1169 Support for required fasm features
  fuzzers/001-part-yaml/Makefile
  fuzzers/001-part-yaml/xc7z010clg400-1_required_features.fasm
  fuzzers/001-part-yaml/xc7z020clg400-1_required_features.fasm
  prjxray/db.py
  utils/fasm2frames.py
  utils/test_fasm2frames.py
Labels: parts-fuzzers, parts-tools

#1173 Integrate Min LiteX with DDR into Project X-Ray
  minitests/litex/min_ddr/arty/scripts/min_arty.py
  minitests/litex/min_ddr/arty/src.vivado/Makefile
  minitests/litex/min_ddr/arty/src.vivado/top.tcl
  minitests/litex/min_ddr/arty/src.vivado/top.xdc
  minitests/litex/min_ddr/arty/src.yosys/Makefile
  minitests/litex/min_ddr/arty/src.yosys/mem.init
  minitests/litex/min_ddr/arty/src.yosys/mem_1.init
  minitests/litex/min_ddr/arty/src.yosys/missing_bit_report.py
  minitests/litex/min_ddr/arty/src.yosys/synth.ys
  minitests/litex/min_ddr/arty/src.yosys/top.tcl
  minitests/litex/min_ddr/arty/src.yosys/top.xdc
  minitests/litex/min_ddr/arty/verilog/VexRiscv_Lite.v
  minitests/litex/min_ddr/arty/verilog/mem.init
  minitests/litex/min_ddr/arty/verilog/mem_1.init
  minitests/litex/min_ddr/arty/verilog/top.v
Labels: parts-minitests

#1172 Enabling of STEPDOWN feature on unused IOBs
  fuzzers/075-pins/generate.tcl
  utils/fasm2frames.py
  utils/test_data/db/segbits_liob33.db
  utils/test_data/db/segbits_riob33.db
  utils/test_data/db/tile_type_LIOB33.json
  utils/test_data/db/tile_type_LIOB33_SING.json
  utils/test_data/db/tile_type_RIOB33.json
  utils/test_data/db/tile_type_RIOB33_SING.json
  utils/test_data/db/tilegrid.json
  utils/test_data/db/xc7_package_pins.csv
  utils/test_data/iob/liob_stepdown.bits
  utils/test_data/iob/liob_stepdown.fasm
  utils/test_data/iob/riob_stepdown.bits
  utils/test_data/iob/riob_stepdown.fasm
  utils/test_fasm2frames.py
Labels: parts-fuzzers, parts-tools

#1174 Zynq PS7 clocks
  fuzzers/000-init-db/Makefile
  fuzzers/041-clk-hrow-pips/Makefile
  fuzzers/041-clk-hrow-pips/clk_hrow_pip_list.tcl
  fuzzers/041-clk-hrow-pips/generate.tcl
  fuzzers/041-clk-hrow-pips/output_pss_clocks.tcl
  fuzzers/041-clk-hrow-pips/top.py
Labels: parts-fuzzers

#1180 Add clock_region to tilegrid.json for constructing clock networks.
  fuzzers/005-tilegrid/generate.py
  fuzzers/005-tilegrid/generate_tiles.tcl
  prjxray/grid.py
  prjxray/grid_types.py
Labels: parts-fuzzers

#1181 Bugfix for fasm2frames
  utils/fasm2frames.py
  utils/test_data/db/segbits_hclk_ioi3.db
  utils/test_data/db/tile_type_HCLK_IOI3.json
  utils/test_data/db/tilegrid.json
  utils/test_data/db/xc7.json
  utils/test_data/iob/liob_stepdown.bits
  utils/test_data/iob/riob_stepdown.bits
Labels: parts-tools

#1191 kokoro: Update to a newer cmake version.
  .github/kokoro/steps/hostsetup.sh
Labels: parts-infra
