Repository f4pga/prjxray, pull requests merged in 2019-10, with the labels that each got.

#1079 Add pin functions column to package pins output.
  fuzzers/075-pins/generate.tcl
Labels: parts-fuzzers

#1092 Updated wrong string path added in syspath before import
  minitests/roi_harness/demo_sw_led_fasm.py
Labels: parts-minitests

#1098 Add pin functions to tilegrid.
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/generate.py
  fuzzers/005-tilegrid/generate_tiles.tcl
  prjxray/fasm_assembler.py
  prjxray/grid.py
  prjxray/grid_types.py
  utils/fasm2frames.py
Labels: parts-fuzzers, parts-tools

#1103 Bitstream Tools: Add UltraScalePlus support
  lib/CMakeLists.txt
  lib/include/prjxray/xilinx/architectures.h
  lib/include/prjxray/xilinx/bitstream_reader.h
  lib/include/prjxray/xilinx/configuration.h
  lib/include/prjxray/xilinx/frames.h
  lib/xilinx/bitstream_writer.cc
  lib/xilinx/configuration.cc
  lib/xilinx/frames.cc
  tools/xc7frames2bit.cc
Labels: parts-tools

#1105 Handle case when PUDC_B pin function is not found.
  utils/fasm2frames.py
Labels: parts-tools

#1091 Bitstream Tools: Add UltraScale devices support
  lib/include/prjxray/xilinx/architectures.h
  lib/include/prjxray/xilinx/bitstream_reader.h
  lib/include/prjxray/xilinx/configuration.h
  lib/xilinx/bitstream_writer.cc
  lib/xilinx/configuration.cc
  lib/xilinx/frames.cc
  tools/xc7frames2bit.cc
Labels: parts-tools

#1088 Bitstream Tools: Add Spartan6 support
  lib/CMakeLists.txt
  lib/include/prjxray/xilinx/architectures.h
  lib/include/prjxray/xilinx/bitstream_reader.h
  lib/include/prjxray/xilinx/bitstream_writer.h
  lib/include/prjxray/xilinx/configuration.h
  lib/include/prjxray/xilinx/configuration_register.h
  lib/include/prjxray/xilinx/frames.h
  lib/include/prjxray/xilinx/spartan6/block_type.h
  lib/include/prjxray/xilinx/spartan6/command.h
  lib/include/prjxray/xilinx/spartan6/configuration_bus.h
  lib/include/prjxray/xilinx/spartan6/configuration_column.h
  lib/include/prjxray/xilinx/spartan6/configuration_row.h
  lib/include/prjxray/xilinx/spartan6/frame_address.h
  lib/include/prjxray/xilinx/spartan6/global_clock_region.h
  lib/include/prjxray/xilinx/spartan6/part.h
  lib/xilinx/bitstream_writer.cc
  lib/xilinx/configuration.cc
  lib/xilinx/configuration_packet.cc
  lib/xilinx/configuration_register.cc
  lib/xilinx/frames.cc
  lib/xilinx/spartan6/block_type.cc
  lib/xilinx/spartan6/configuration_bus.cc
  lib/xilinx/spartan6/configuration_column.cc
  lib/xilinx/spartan6/configuration_row.cc
  lib/xilinx/spartan6/frame_address.cc
  lib/xilinx/spartan6/global_clock_region.cc
  lib/xilinx/spartan6/part.cc
  lib/xilinx/tests/spartan6/bitstream_reader_test.cc
  lib/xilinx/tests/spartan6/bitstream_writer_test.cc
  lib/xilinx/tests/spartan6/block_type_test.cc
  lib/xilinx/tests/spartan6/configuration_bus_test.cc
  lib/xilinx/tests/spartan6/configuration_column_test.cc
  lib/xilinx/tests/spartan6/configuration_packet_test.cc
  lib/xilinx/tests/spartan6/configuration_test.cc
  lib/xilinx/tests/spartan6/frame_address_test.cc
  lib/xilinx/tests/spartan6/frames_test.cc
  lib/xilinx/tests/spartan6/global_clock_region_test.cc
  lib/xilinx/tests/spartan6/part_test.cc
  lib/xilinx/tests/spartan6/row_test.cc
  tools/bitread.cc
  tools/bittool.cc
Labels: dependent

#1112 Whitespace
  .github/kokoro/ctest2junit.xsl
  Makefile
  fuzzers/011-clb-ffconfig/README.md
  fuzzers/011-clb-ffconfig/generate.py
  fuzzers/013-clb-ncy0/minitest/top.v
  fuzzers/015-clb-nffmux/top.py
  fuzzers/016-clb-noutmux/minitest/top.v
  fuzzers/016-clb-noutmux/top.py
  fuzzers/018-clb-ram/minitest/README.md
  fuzzers/019-clb-ndi1mux/minitest/README.md
  fuzzers/030-iob/minitest/README.md
  fuzzers/030-iob/minitest/top.v
  fuzzers/059-pip-byp-bounce/README.md
  fuzzers/074-dump_all/cleanup_site_pins.py
  gridinfo/runme.sh
  lib/segbits_file_reader.cc
  lib/test_data/one_entry_missing_bit.segbits
  minitests/clb-bused/README.md
  minitests/clb-muxf8/README.md
  minitests/fixedpnr/README.md
  minitests/fixedpnr/top_fdce_inv.v
  minitests/iserdes.idelay/src/iserdes_idelay_histogram.v
  minitests/iserdes.idelay/src/message_formatter.v
  minitests/iserdes.sdr_ddr/basys3_iserdes_sdr_ddr.v
  minitests/iserdes.sdr_ddr/src/comparator.v
  minitests/iserdes.sdr_ddr/src/receiver.v
  minitests/litex/src.vivado/VexRiscv_Linux.v
  minitests/litex/src.yosys/VexRiscv_Linux.v
  minitests/litex/src.yosys/missing_bit_report.py
  minitests/oserdes/basys3_oserdes_rates.v
  minitests/oserdes/src/oserdes_test.v
  minitests/partial_reconfig_flow/Makefile
  minitests/plle2_adv/src/plle2_test.v
  minitests/timing/picosoc_noflash.v
  prjxray/bitstream.py
  prjxray/lms_solver.py
  utils/blockwidth.py
  utils/vtemplate
  vagrant/Vagrantfile
Labels: parts-docs, parts-fuzzers, parts-infra, parts-minitests

#1116 Revert "Whitespace"
  .github/kokoro/ctest2junit.xsl
  Makefile
  fuzzers/011-clb-ffconfig/README.md
  fuzzers/011-clb-ffconfig/generate.py
  fuzzers/013-clb-ncy0/minitest/top.v
  fuzzers/015-clb-nffmux/top.py
  fuzzers/016-clb-noutmux/minitest/top.v
  fuzzers/016-clb-noutmux/top.py
  fuzzers/018-clb-ram/minitest/README.md
  fuzzers/019-clb-ndi1mux/minitest/README.md
  fuzzers/030-iob/minitest/README.md
  fuzzers/030-iob/minitest/top.v
  fuzzers/059-pip-byp-bounce/README.md
  fuzzers/074-dump_all/cleanup_site_pins.py
  gridinfo/runme.sh
  lib/segbits_file_reader.cc
  lib/test_data/one_entry_missing_bit.segbits
  minitests/clb-bused/README.md
  minitests/clb-muxf8/README.md
  minitests/fixedpnr/README.md
  minitests/fixedpnr/top_fdce_inv.v
  minitests/iserdes.idelay/src/iserdes_idelay_histogram.v
  minitests/iserdes.idelay/src/message_formatter.v
  minitests/iserdes.sdr_ddr/basys3_iserdes_sdr_ddr.v
  minitests/iserdes.sdr_ddr/src/comparator.v
  minitests/iserdes.sdr_ddr/src/receiver.v
  minitests/litex/src.vivado/VexRiscv_Linux.v
  minitests/litex/src.yosys/VexRiscv_Linux.v
  minitests/litex/src.yosys/missing_bit_report.py
  minitests/oserdes/basys3_oserdes_rates.v
  minitests/oserdes/src/oserdes_test.v
  minitests/partial_reconfig_flow/Makefile
  minitests/plle2_adv/src/plle2_test.v
  minitests/timing/picosoc_noflash.v
  prjxray/bitstream.py
  prjxray/lms_solver.py
  utils/blockwidth.py
  utils/vtemplate
  vagrant/Vagrantfile
Labels: parts-docs, parts-fuzzers, parts-infra, parts-minitests

#1117 Add HCLK_[LR]_BOT_UTURN aliases.
  fuzzers/005-tilegrid/generate_full.py
Labels: parts-fuzzers

#1120 oserdese: fix wrong fasm prefix
  fuzzers/036-iob-ologic/generate.py
Labels: parts-fuzzers

#1118 Dump PPIPs for additional clock related tiles.
  fuzzers/071-ppips/generate.tcl
Labels: parts-fuzzers

#1077 Fix for 034 fuzzer
  fuzzers/034-cmt-pll-pips/Makefile
  fuzzers/034-cmt-pll-pips/README.md
  fuzzers/034-cmt-pll-pips/bits.dbf
  fuzzers/034-cmt-pll-pips/fixup_and_group.py
  fuzzers/034-cmt-pll-pips/generate.py
  fuzzers/034-cmt-pll-pips/generate.tcl
  fuzzers/034-cmt-pll-pips/tag_groups.txt
  fuzzers/034-cmt-pll-pips/top.py
  fuzzers/Makefile
  minitests/plle2_adv/basys3_plle2_adv.v
  minitests/plle2_adv/src/plle2_test.v
  minitests/plle2_adv/tcl/par.tcl
Labels: parts-docs, parts-fuzzers, parts-minitests, parts-third-party

#1122 Whitespace
  .github/kokoro/ctest2junit.xsl
  Makefile
  fuzzers/011-clb-ffconfig/README.md
  fuzzers/011-clb-ffconfig/generate.py
  fuzzers/013-clb-ncy0/minitest/top.v
  fuzzers/015-clb-nffmux/top.py
  fuzzers/016-clb-noutmux/minitest/top.v
  fuzzers/016-clb-noutmux/top.py
  fuzzers/018-clb-ram/minitest/README.md
  fuzzers/019-clb-ndi1mux/minitest/README.md
  fuzzers/030-iob/minitest/README.md
  fuzzers/030-iob/minitest/top.v
  fuzzers/059-pip-byp-bounce/README.md
  fuzzers/074-dump_all/cleanup_site_pins.py
  gridinfo/runme.sh
  lib/segbits_file_reader.cc
  lib/test_data/one_entry_missing_bit.segbits
  minitests/clb-bused/README.md
  minitests/clb-muxf8/README.md
  minitests/fixedpnr/README.md
  minitests/fixedpnr/top_fdce_inv.v
  minitests/iserdes.idelay/src/iserdes_idelay_histogram.v
  minitests/iserdes.idelay/src/message_formatter.v
  minitests/iserdes.sdr_ddr/basys3_iserdes_sdr_ddr.v
  minitests/iserdes.sdr_ddr/src/comparator.v
  minitests/iserdes.sdr_ddr/src/receiver.v
  minitests/litex/src.vivado/VexRiscv_Linux.v
  minitests/litex/src.yosys/VexRiscv_Linux.v
  minitests/litex/src.yosys/missing_bit_report.py
  minitests/oserdes/basys3_oserdes_rates.v
  minitests/oserdes/src/oserdes_test.v
  minitests/partial_reconfig_flow/Makefile
  minitests/plle2_adv/src/plle2_test.v
  minitests/timing/picosoc_noflash.v
  prjxray/bitstream.py
  prjxray/lms_solver.py
  utils/blockwidth.py
  utils/vtemplate
  vagrant/Vagrantfile
Labels: parts-docs, parts-fuzzers, parts-infra, parts-minitests

#1119 minitests: Add test for Litex DRAM memory interface
  minitests/litex_litedram/README.md
  minitests/litex_litedram/src.vivado/ExtractFrames.py
  minitests/litex_litedram/src.vivado/Makefile
  minitests/litex_litedram/src.vivado/top.tcl
  minitests/litex_litedram/src.vivado/top.xdc
  minitests/litex_litedram/src.vivado/verilog/VexRiscv.v
  minitests/litex_litedram/src.vivado/verilog/mem.init
  minitests/litex_litedram/src.vivado/verilog/mem_1.init
  minitests/litex_litedram/src.vivado/verilog/top.v
  minitests/litex_litedram/src.yosys/ExtractFrames.py
  minitests/litex_litedram/src.yosys/Makefile
  minitests/litex_litedram/src.yosys/mem.init
  minitests/litex_litedram/src.yosys/mem_1.init
  minitests/litex_litedram/src.yosys/synth.ys
  minitests/litex_litedram/src.yosys/top.tcl
  minitests/litex_litedram/src.yosys/top.xdc
  minitests/litex_litedram/src.yosys/verilog/VexRiscv.v
  minitests/litex_litedram/src.yosys/verilog/top.v
Labels: parts-docs, parts-minitests
