Repository f4pga/prjxray, pull requests merged in 2019-04, with the labels that each got.

#754 docs: Fixing markdown files
  .readthedocs.yml
  docs/.gitignore
  docs/Makefile
  docs/conf.py
  docs/db_dev_process/fuzzers/011-ffconfig.md
  docs/db_dev_process/fuzzers/012-clbn5ffmux.md
  docs/db_dev_process/fuzzers/013-clbncy0.md
  docs/db_dev_process/fuzzers/014-ffsrcemux.md
  docs/db_dev_process/fuzzers/015-clbnffmux.md
  docs/db_dev_process/fuzzers/016-clbnoutmux.md
  docs/db_dev_process/fuzzers/017-clbprecyinit.md
  docs/db_dev_process/fuzzers/018-clbram.md
  docs/db_dev_process/fuzzers/019-ndi1mux.md
  docs/db_dev_process/fuzzers/050-intpips.md
  docs/db_dev_process/fuzzers/051-imuxlout.md
  docs/db_dev_process/fuzzers/052-clkin.md
  docs/db_dev_process/fuzzers/053-ctrlin.md
  docs/db_dev_process/fuzzers/054-gfan.md
  docs/db_dev_process/fuzzers/055-gnd.md
  docs/db_dev_process/fuzzers/056-rempips.md
  docs/db_dev_process/fuzzers/057-bipips.md
  docs/db_dev_process/fuzzers/058-hclkpips.md
  docs/db_dev_process/minitests/bram.md
  docs/db_dev_process/minitests/clb_bused.md
  docs/db_dev_process/minitests/clb_ffcfg.md
  docs/db_dev_process/minitests/clb_muxf8.md
  docs/db_dev_process/minitests/clb_n5ffmux.md
  docs/db_dev_process/minitests/clb_ncy0.md
  docs/db_dev_process/minitests/clb_ndi1mux.md
  docs/db_dev_process/minitests/clb_nffmux.md
  docs/db_dev_process/minitests/clb_noutmux.md
  docs/db_dev_process/minitests/clb_ram.md
  docs/index.rst
  docs/requirements.txt
  fuzzers/012-clb-n5ffmux/README.md
  fuzzers/013-clb-ncy0/README.md
  fuzzers/014-clb-ffsrcemux/README.md
  fuzzers/015-clb-nffmux/README.md
  fuzzers/016-clb-noutmux/README.md
  fuzzers/017-clb-precyinit/README.md
  fuzzers/018-clb-ram/README.md
  fuzzers/019-clb-ndi1mux/README.md
  fuzzers/025-bram-config/README.md
  fuzzers/026-bram-data/README.md
  fuzzers/032-cmt-pll/README.md
  fuzzers/033-mon-xadc/README.md
  fuzzers/044-clk-bufg-pips/README.md
  fuzzers/045-hclk-cmt-pips/README.md
  fuzzers/050-pip-seed/README.md
  fuzzers/051-pip-imuxlout-bypalts/README.md
  fuzzers/052-pip-clkin/README.md
  fuzzers/053-pip-ctrlin/README.md
  fuzzers/054-pip-fan-alt/README.md
  fuzzers/055-pip-gnd/README.md
  fuzzers/056-pip-rem/README.md
  fuzzers/057-pip-bi/README.md
  fuzzers/058-pip-hclk/README.md
Labels: parts-docs, parts-fuzzers, parts-minitests

#749 htmlgen: Make sure only NULL+VBRK tiles are grey.
  htmlgen/htmlgen.py
Labels: parts-tools

#756 Lots of updates to documentation
  docs/Makefile
  docs/_static/.keepme
  docs/architecture/dram_configuration.rst
  docs/db_dev_process/fuzzers/005-tilegrid.md
  docs/db_dev_process/parts.rst
  docs/db_dev_process/readme.md
  docs/format/db.rst
  docs/format/tile.rst
  docs/index.rst
Labels: parts-docs, parts-fuzzers

#759 docs: Trying to fix readthedocs
  docs/Makefile
  docs/conf.py
Labels: parts-docs

#760 docs: Create the fuzzers + minitests directories.
  docs/Makefile
Labels: parts-docs

#761 docs: Fix some formatting
  docs/architecture/bitstream_format.rst
Labels: parts-docs

#762 README.md: clarify to not manually source the Vivado environment
  README.md
Labels: parts-docs

#769 xc7frames2bit: add missing frames starting with 0
  lib/CMakeLists.txt
  lib/include/prjxray/xilinx/xc7series/ecc.h
  lib/xilinx/xc7series/ecc.cc
  lib/xilinx/xc7series/frames.cc
  lib/xilinx/xc7series/frames_test.cc
Labels: parts-docs

#771 Add fuzzer for documenting pin to pad relationship for part.
  fuzzers/075-pins/Makefile
  fuzzers/075-pins/generate.sh
  fuzzers/075-pins/generate.tcl
  fuzzers/Makefile
Labels: parts-fuzzers

#775 fuzzers: Disable retries by default.
  fuzzers/run_fuzzer.py
Labels: parts-fuzzers

#773 Add make targets to build additional outputs from each database.
  .github/kokoro/db-full.sh
  Makefile
  fuzzers/Makefile
  minitests/roi_harness/Makefile
Labels: parts-fuzzers, parts-infra, parts-minitests

#780 segprint: drop empty sections with -z -D
  utils/segprint.py
Labels: parts-tools

#782 docs: Rename wrong make target
  docs/Makefile
Labels: parts-docs

#787 056-pip-rem: lower PDIL-1 DRC severity
  fuzzers/056-pip-rem/generate.tcl
Labels: parts-fuzzers

#786 infra: Collect Vivado logs into tgz archive
  .github/kokoro/continuous-db-artix7.cfg
  .github/kokoro/continuous-db-kintex7.cfg
  .github/kokoro/continuous-db-zynq7.cfg
  .github/kokoro/db-full.sh
  .github/kokoro/kokoro-cfg.py
  .github/kokoro/presubmit-db-artix7.cfg
  .github/kokoro/presubmit-db-kintex7.cfg
  .github/kokoro/presubmit-db-zynq7.cfg
Labels: parts-infra

#792 fuzzers: Fix error usage
  fuzzers/051-pip-imuxlout-bypalts/generate.tcl
  fuzzers/052-pip-clkin/generate.tcl
  fuzzers/053-pip-ctrlin/generate.tcl
  fuzzers/055-pip-gnd/generate.tcl
Labels: kokoro:force-run, parts-fuzzers

#788 Disable currently flaky fuzzers to make CI go green again
  Makefile
  fuzzers/Makefile
Labels: parts-fuzzers

#799 052-pip-clkin: Exclude potentially conflicting PIP + nodes from a run.
  fuzzers/052-pip-clkin/Makefile
  fuzzers/052-pip-clkin/generate.tcl
  fuzzers/Makefile
Labels: parts-fuzzers

#757 Importing remaining wiki contents
  docs/architecture/interconnect.rst
  docs/architecture/reference.rst
  docs/format/db.rst
  docs/format/tile.rst
  docs/index.rst
Labels: parts-docs

#789 054-pip-fan-alt: add BYP_ALT.GFAN PIPs calculation to fuzzer
  fuzzers/054-pip-fan-alt/Makefile
  fuzzers/054-pip-fan-alt/README.md
Labels: parts-docs, parts-fuzzers

#810 Fixing issues from wiki import
  docs/architecture/glossary.rst
  docs/architecture/interconnect.rst
  docs/format/db.rst
  docs/format/tile.rst
Labels: parts-docs
