Repository f4pga/prjxray, pull requests merged in 2020-05, with the labels that each got.

#1307 Enhanced 045 to solve FREQ_REF related PIPs
  fuzzers/045-hclk-cmt-pips/Makefile
  fuzzers/045-hclk-cmt-pips/generate.py
  fuzzers/045-hclk-cmt-pips/generate.tcl
  fuzzers/045-hclk-cmt-pips/top.py
Labels: parts-fuzzers

#1324 SSTL15 features
  fuzzers/030-iob/generate.py
  fuzzers/030-iob/process_rdb.py
  fuzzers/030-iob/top.py
  minitests/iostandard/dump_iobs.tcl
  minitests/iostandard/features/Makefile
  minitests/iostandard/features/generate.py
  minitests/iostandard/syn+par.tcl
  utils/fasm2frames.py
Labels: parts-fuzzers, parts-minitests, parts-tools

#1269 Extend the Database section of the documentation
  docs/architecture/index.rst
  docs/db_dev_process/fuzzers/index.rst
  docs/db_dev_process/index.rst
  docs/db_dev_process/new_fuzzer.rst
  docs/dev_database/common/index.rst
  docs/dev_database/common/mask.rst
  docs/dev_database/common/ppips.rst
  docs/dev_database/common/segbits.rst
  docs/dev_database/common/site_type.rst
  docs/dev_database/common/tile_type.rst
  docs/dev_database/description.rst
  docs/dev_database/index.rst
  docs/dev_database/part_specific/index.rst
  docs/dev_database/part_specific/package_pins.rst
  docs/dev_database/part_specific/part.rst
  docs/dev_database/part_specific/tileconn.rst
  docs/dev_database/part_specific/tilegrid.rst
  docs/format/db.rst
  docs/format/tile.rst
  docs/getting.rst
  docs/index.rst
  docs/introduction.rst
Labels: parts-docs, parts-fuzzers, parts-minitests

#1337 Adds installation of Xray tools
  Makefile
  setup.py
  tools/CMakeLists.txt
  utils/__init__.py
  utils/checkdb.py
  utils/sort_db.py
  utils/test_fasm2frames.py
Labels: parts-tools

#1354 Fix some links
  CONTRIBUTING.md
  README.md
Labels: parts-docs
