Repository f4pga/prjxray, pull requests merged in 2020-01, with the labels that each got.

#1200 add a link to README answering a common question
  README.md
Labels: parts-docs

#1205 kokoro: Behave better on large diffs.
  .github/kokoro/db-full.sh
Labels: parts-infra

#1212 fuzzers: Improve DSP fuzzer
  fuzzers/100-dsp-mskpat/generate.py
  fuzzers/100-dsp-mskpat/top.py
Labels: parts-fuzzers

#1213 Fix htmlgen for changing DB structure.
  htmlgen/htmlgen.py
Labels: parts-tools

#1162 Tilegrid generation for Zynq 7020
  .github/kokoro/db-full.sh
  Makefile
  fuzzers/000-init-db/Makefile
  fuzzers/005-tilegrid/generate_full.py
  fuzzers/005-tilegrid/iob/Makefile
  fuzzers/005-tilegrid/ps7_int/top.py
  fuzzers/030-iob/Makefile
  fuzzers/034-cmt-pll-pips/Makefile
  fuzzers/034-cmt-pll-pips/generate.py
  fuzzers/045-hclk-cmt-pips/Makefile
  fuzzers/074-dump_all/ignored_wires/zynq7/xc7z010clg400-1_ignored_wires.txt
  fuzzers/074-dump_all/ignored_wires/zynq7/xc7z020clg484-1_ignored_wires.txt
  settings/zynq7.sh
  settings/zynq7010.sh
Labels: parts-fuzzers, parts-infra

#1170 PS7 cell definition extraction
  fuzzers/076-ps7/Makefile
  fuzzers/076-ps7/README.md
  fuzzers/076-ps7/generate.sh
  fuzzers/076-ps7/generate.tcl
  fuzzers/076-ps7/make_ports.py
  fuzzers/Makefile
Labels: parts-docs, parts-fuzzers, parts-minitests

#1215 fuzzers: Add support for KiB, MiB and GiB units
  fuzzers/run_fuzzer.py
Labels: parts-fuzzers
