Repository f4pga/prjxray, pull requests merged in 2020-07, with the labels that each got.

#1383 Add dedicated port type to harness design.json
  minitests/roi_harness/create_design_json.py
Labels: parts-minitests

#1389 Fix SDF generation
  fuzzers/007-timing/routing-bels/tim2sdf.py
Labels: parts-fuzzers

#1381 Change main fuzzed device to A100T
  Makefile
  fuzzers/032-cmt-pll/generate.py
  minitests/roi_harness/arty-common.sh
  minitests/roi_harness/basys3-common.sh
  settings/artix7.sh
  settings/artix7_50t.sh
Labels: parts-fuzzers, parts-infra, parts-minitests, parts-tools

#1396 Adding build badges.
  README.md
Labels: parts-docs

#1406 ISERDES feature rename
  fuzzers/035b-iob-iserdes/generate.py
  utils/mergedb.py
Labels: parts-fuzzers, parts-tools

#1407 Fix tag grouping for ISERDES
  fuzzers/035b-iob-iserdes/tag_groups.txt
Labels: parts-fuzzers
