Repository f4pga/prjxray, pull requests merged in 2020-10, with the labels that each got.

#1429 Fix python on kokoro and break circular import through tile_segbits.
  .github/kokoro/steps/hostsetup.sh
  Makefile
  fuzzers/018-clb-ram/Makefile
  fuzzers/018-clb-ram/top.py
  prjxray/tile_segbits.py
  requirements.txt
  utils/dbfixup.py
  utils/environment.python.sh
Labels: parts-fuzzers, parts-infra, parts-tools

#1441 Fixup OSERDES features to handle missing bits
  fuzzers/036-iob-ologic/Makefile
  fuzzers/036-iob-ologic/bits.dbf
  fuzzers/036-iob-ologic/generate.py
  fuzzers/036-iob-ologic/top.py
Labels: parts-fuzzers, parts-infra, parts-tools

#1446 Add missing FREQ_BB active feature
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/pll/Makefile
  fuzzers/034-cmt-pll-pips/cmt_top_upper_t.tcl
  fuzzers/034-cmt-pll-pips/fixup_and_group.py
  fuzzers/034-cmt-pll-pips/generate.py
  fuzzers/034-cmt-pll-pips/generate.tcl
Labels: parts-fuzzers, parts-infra, parts-tools

#1414 Move setting output path to `run` function
  htmlgen/htmlgen.py
Labels: parts-tools

#1474 Fix new BRAM36 features.
  fuzzers/027-bram36-config/Makefile
  fuzzers/027-bram36-config/README.md
  fuzzers/027-bram36-config/generate.py
  fuzzers/027-bram36-config/top.py
Labels: merge-if-green
