Repository f4pga/prjxray, pull requests merged in 2020-02, with the labels that each got.

#1228 Handle both jobserver-fds and jobserver-auth flags.
  fuzzers/run_fuzzer.py
Labels: parts-fuzzers

#1230 Fixing the sorting of database files
  Makefile
  fuzzers/074-dump_all/cleanup_site_pins.py
  fuzzers/074-dump_all/create_node_tree.py
  fuzzers/074-dump_all/generate_grid.py
  fuzzers/074-dump_all/reduce_site_types.py
  fuzzers/074-dump_all/reduce_tile_types.py
  requirements.txt
  utils/sort_db.py
  utils/xjson.py
Labels: parts-fuzzers, parts-tools

#1229 I/OSERDES BEL timing
  fuzzers/007-timing/bel/Makefile
  fuzzers/007-timing/bel/fixup_timings_txt.py
  fuzzers/007-timing/bel/runme.tcl
  fuzzers/007-timing/bel/tim2json.py
  requirements.txt
Labels: parts-fuzzers

#1235 Fix some bugs present timing analysis script.
  minitests/timing/Makefile
  minitests/timing/runme.tcl
  requirements.txt
  utils/clean_json5.py
  utils/create_timing_worksheet_db.py
  utils/write_timing_info.tcl
Labels: parts-minitests, parts-tools

#1186 Grouping of IN_TERM features
  fuzzers/030-iob/Makefile
  fuzzers/030-iob/bits.dbf
  fuzzers/030-iob/tag_groups.txt
  utils/dbfixup.py
  utils/group.py
Labels: parts-fuzzers, parts-tools

#1245 Fix for the lost IOB bits
  fuzzers/030-iob/generate.py
  fuzzers/030-iob/write_io_banks.tcl
Labels: parts-fuzzers

#1238 Remap some timing
  .github/kokoro/db-full.sh
  Makefile
  fuzzers/074-dump_all/generate_grid.py
  fuzzers/074-dump_all/jobtiles.tcl
  fuzzers/074-dump_all/reduce_tile_types.py
  minitests/roi_harness/create_design_json.py
  prjxray/xjson.py
  utils/create_timing_worksheet_db.py
  utils/xjson.py
Labels: parts-fuzzers, parts-infra, parts-minitests, parts-tools

#1227 Optimize 074 dump all
  .github/kokoro/db-full.sh
  .github/kokoro/steps/hostinfo.sh
  .gitignore
  Makefile
  fuzzers/000-init-db/Makefile
  fuzzers/001-part-yaml/Makefile
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/cfg_int/Makefile
  fuzzers/005-tilegrid/fuzzaddr/common.mk
  fuzzers/005-tilegrid/fuzzaddr/generate.sh
  fuzzers/005-tilegrid/generate.py
  fuzzers/005-tilegrid/generate_tiles.tcl
  fuzzers/072-ordered_wires/Makefile
  fuzzers/073-get_counts/Makefile
  fuzzers/074-dump_all/Makefile
  fuzzers/074-dump_all/generate_after_dump.sh
  fuzzers/074-dump_all/generate_grid.py
  fuzzers/074-dump_all/get_speed_model.tcl
  fuzzers/074-dump_all/jobtiles.tcl
  fuzzers/074-dump_all/reduce_tile_types.py
  fuzzers/074-dump_all/run_fuzzer.py
  fuzzers/075-pins/Makefile
  fuzzers/Makefile
  fuzzers/run_fuzzer.py
  minitests/roi_harness/Makefile
Labels: parts-fuzzers, parts-infra, parts-minitests, parts-tools

#1250 Fix remap on new 074 code.
  fuzzers/074-dump_all/get_speed_model.tcl
Labels: parts-fuzzers

#1256 minitests/litex*: Fix location of clean_json5.py tool.
  minitests/litex/min/arty/src.yosys/Makefile
  minitests/litex/min_ddr/arty/src.yosys/Makefile
  minitests/litex/src.yosys/Makefile
  minitests/litex_litedram/src.yosys/Makefile
Labels: parts-minitests

#1218 Added UART DDR minitest
  minitests/litex/uart_ddr/arty/README.md
  minitests/litex/uart_ddr/arty/generated/mem.init
  minitests/litex/uart_ddr/arty/generated/mem_1.init
  minitests/litex/uart_ddr/arty/generated/top.v
  minitests/litex/uart_ddr/arty/generated/top.xdc
  minitests/litex/uart_ddr/arty/scripts/.gitignore
  minitests/litex/uart_ddr/arty/scripts/Makefile
  minitests/litex/uart_ddr/arty/scripts/arty.py
  minitests/litex/uart_ddr/arty/scripts/csr.csv
  minitests/litex/uart_ddr/arty/scripts/sdram_init.py
  minitests/litex/uart_ddr/arty/scripts/test_sdram.py
  minitests/litex/uart_ddr/arty/src.vivado/Makefile
  minitests/litex/uart_ddr/arty/src.vivado/top.tcl
  minitests/litex/uart_ddr/arty/src.yosys/Makefile
  minitests/litex/uart_ddr/arty/src.yosys/mem.init
  minitests/litex/uart_ddr/arty/src.yosys/mem_1.init
  minitests/litex/uart_ddr/arty/src.yosys/synth.ys
  minitests/litex/uart_ddr/arty/src.yosys/top.tcl
Labels: parts-docs, parts-minitests

#1247 Couple of small cleanup changes
  Makefile
  requirements.txt
  utils/environment.python.sh
  utils/environment.sh
  utils/find_missing_segbits.py
Labels: parts-tools

#1254 Fix segprint tool for new tileconn.json location
  utils/segprint.py
Labels: parts-tools
