Repository f4pga/prjxray, pull requests merged in 2020-03, with the labels that each got.

#1263 bram-sdp minitest: added minitest to check features of SDP brams
  minitests/bram-sdp/Makefile
  minitests/bram-sdp/runme.sh
  minitests/bram-sdp/runme.tcl
  minitests/bram-sdp/top.v
Labels: parts-minitests

#1268 Convert CLB/CLB_INT tilegrid fuzzer to workaround prohibited locations.
  fuzzers/005-tilegrid/clb/generate.tcl
  fuzzers/005-tilegrid/clb/top.py
  fuzzers/005-tilegrid/clb_int/generate.tcl
  fuzzers/005-tilegrid/clb_int/top.py
  settings/artix200t.sh
Labels: parts-fuzzers

#1270 Add prohibited site list to tilegrid.
  fuzzers/005-tilegrid/generate.py
  fuzzers/005-tilegrid/generate_tiles.tcl
Labels: parts-fuzzers

#1114 Documentation: Extend bitstream format chapter
  docs/architecture/bitstream_format.rst
Labels: parts-docs

#1257 Fix warnings in documentation
  docs/architecture/interconnect.rst
  docs/conf.py
  docs/db_dev_process/fuzzers/index.rst
  docs/db_dev_process/minitests/index.rst
  docs/index.rst
  fuzzers/038-cfg/README.md
Labels: parts-docs, parts-fuzzers, parts-minitests

#1278 grid: add prohibited sites to GridInfo
  prjxray/grid.py
  prjxray/grid_types.py
  tests/test_util.py
  utils/test_data/db/xc7/tilegrid.json
Labels: parts-tools

#1283 fuzzers: Add missing B-side IN_DIFF bits
  fuzzers/030-iob/generate.py
Labels: parts-fuzzers
