Repository f4pga/prjxray, pull requests merged in 2020-06, with the labels that each got.

#1348 Add reset config to allow upload to PS region
  utils/openocd/board-digilent-pynqz1.cfg
Labels: parts-tools

#1347 Move fasm2frames to prjxray
  minitests/roi_harness/runme.sh
  prjxray/fasm2frames.py
  prjxray/test_data/db/segbits_clblm_l.db
  prjxray/test_data/db/segbits_hclk_ioi3.db
  prjxray/test_data/db/segbits_hclk_l.db
  prjxray/test_data/db/segbits_int_l.db
  prjxray/test_data/db/segbits_liob33.db
  prjxray/test_data/db/segbits_riob33.db
  prjxray/test_data/db/tile_type_CLBLM_L.json
  prjxray/test_data/db/tile_type_HCLK_IOI3.json
  prjxray/test_data/db/tile_type_HCLK_L.json
  prjxray/test_data/db/tile_type_INT_L.json
  prjxray/test_data/db/tile_type_LIOB33.json
  prjxray/test_data/db/tile_type_LIOB33_SING.json
  prjxray/test_data/db/tile_type_RIOB33.json
  prjxray/test_data/db/tile_type_RIOB33_SING.json
  prjxray/test_data/db/xc7/package_pins.csv
  prjxray/test_data/db/xc7/part.json
  prjxray/test_data/db/xc7/tilegrid.json
  prjxray/test_data/ff_int.fasm
  prjxray/test_data/ff_int/.gitignore
  prjxray/test_data/ff_int/design.bits
  prjxray/test_data/ff_int/top.v
  prjxray/test_data/ff_int_0s.fasm
  prjxray/test_data/ff_int_op1.fasm
  prjxray/test_data/iob/liob_stepdown.bits
  prjxray/test_data/iob/liob_stepdown.fasm
  prjxray/test_data/iob/riob_stepdown.bits
  prjxray/test_data/iob/riob_stepdown.fasm
  prjxray/test_data/lut.fasm
  prjxray/test_data/lut_int.fasm
  prjxray/test_data/lut_int/.gitignore
  prjxray/test_data/lut_int/design.bits
  prjxray/test_data/lut_int/top.v
  prjxray/test_fasm2frames.py
  setup.py
  utils/environment.sh
Labels: parts-minitests

#1345 A minitest for IDELAY
  minitests/idelay/Makefile
  minitests/idelay/README.md
  minitests/idelay/basys3.xdc
  minitests/idelay/basys3_idelay_const.v
  minitests/idelay/basys3_idelay_histogram.v
  minitests/idelay/basys3_idelay_var.v
  minitests/idelay/sim/error_counter_tb.v
  minitests/idelay/sim/message_formatter_tb.v
  minitests/idelay/sim/run_icarus.sh
  minitests/idelay/sim/run_vivado.sh
  minitests/idelay/sim/sim.tcl
  minitests/idelay/src/error_counter.v
  minitests/idelay/src/idelay_calibrator.v
  minitests/idelay/src/idelay_histogram.v
  minitests/idelay/src/lfsr.v
  minitests/idelay/src/message_formatter.v
  minitests/idelay/src/simpleuart.v
  minitests/idelay/tcl/par.tcl
  minitests/idelay/tcl/syn.tcl
Labels: parts-docs, parts-minitests

#1368 Revert "Move fasm2frames to prjxray"
  minitests/roi_harness/runme.sh
  setup.py
  utils/environment.sh
  utils/fasm2frames.py
  utils/test_data/db/segbits_clblm_l.db
  utils/test_data/db/segbits_hclk_ioi3.db
  utils/test_data/db/segbits_hclk_l.db
  utils/test_data/db/segbits_int_l.db
  utils/test_data/db/segbits_liob33.db
  utils/test_data/db/segbits_riob33.db
  utils/test_data/db/tile_type_CLBLM_L.json
  utils/test_data/db/tile_type_HCLK_IOI3.json
  utils/test_data/db/tile_type_HCLK_L.json
  utils/test_data/db/tile_type_INT_L.json
  utils/test_data/db/tile_type_LIOB33.json
  utils/test_data/db/tile_type_LIOB33_SING.json
  utils/test_data/db/tile_type_RIOB33.json
  utils/test_data/db/tile_type_RIOB33_SING.json
  utils/test_data/db/xc7/package_pins.csv
  utils/test_data/db/xc7/part.json
  utils/test_data/db/xc7/tilegrid.json
  utils/test_data/ff_int.fasm
  utils/test_data/ff_int/.gitignore
  utils/test_data/ff_int/design.bits
  utils/test_data/ff_int/top.v
  utils/test_data/ff_int_0s.fasm
  utils/test_data/ff_int_op1.fasm
  utils/test_data/iob/liob_stepdown.bits
  utils/test_data/iob/liob_stepdown.fasm
  utils/test_data/iob/riob_stepdown.bits
  utils/test_data/iob/riob_stepdown.fasm
  utils/test_data/lut.fasm
  utils/test_data/lut_int.fasm
  utils/test_data/lut_int/.gitignore
  utils/test_data/lut_int/design.bits
  utils/test_data/lut_int/top.v
  utils/test_fasm2frames.py
Labels: parts-minitests, parts-tools
