Repository f4pga/prjxray, pull requests merged in 2021-03, with the labels that each got.

#1598 071-ppips: add missing GTP-related PPIPs
  fuzzers/071-ppips/generate.tcl
Labels: parts-fuzzers

#1599 segmaker: fix site_type prefixes for GTP sites
  fuzzers/031-cmt-mmcm/write_mmcm_reg.py
  fuzzers/032-cmt-pll/write_pll_reg.py
  fuzzers/063-gtp-common-conf/generate.py
  prjxray/segmaker.py
Labels: parts-fuzzers

#1603 005-tilegrid: fix GTP common frames
  fuzzers/005-tilegrid/add_tdb.py
Labels: parts-fuzzers

#1607 071-ppips: additional fix for GTP-related PPIPs
  fuzzers/071-ppips/generate.tcl
Labels: parts-fuzzers

#1608 gtp: fix inverted signals. Change ZINV feature to INV
  fuzzers/063-gtp-common-conf/generate.py
  fuzzers/063-gtp-common-conf/top.py
  fuzzers/064-gtp-channel-conf/generate.py
  fuzzers/064-gtp-channel-conf/top.py
Labels: parts-fuzzers

#1609 030-iob: fix un-even features in different sites
  fuzzers/030-iob/process_rdb.py
Labels: parts-fuzzers

#1613 071-ppips: take all ppips with one uphill nodes
  fuzzers/071-ppips/generate.tcl
Labels: parts-fuzzers

#1606 005-tilegrid: Extract frames count information from part's json
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/generate_full.py
  fuzzers/005-tilegrid/util.py
Labels: parts-fuzzers

#1604 071-ppips: add pcie-related ppips
  fuzzers/071-ppips/generate.tcl
Labels: parts-fuzzers

#1615 Add some disk space checks in happy and sad paths.
  .github/kokoro/db-full.sh
Labels: parts-infra

#1618 Add kokoro hostcheck
  .github/kokoro/db-full.sh
  .github/kokoro/db-quick.sh
  .github/kokoro/steps/hostcheck.sh
Labels: parts-infra

#1616 Rework pcie-conf fuzzer
  fuzzers/061-pcie-conf/Makefile
  fuzzers/061-pcie-conf/generate.py
  fuzzers/061-pcie-conf/generate_ports.tcl
  fuzzers/061-pcie-conf/params.py
  fuzzers/061-pcie-conf/top.py
Labels: parts-fuzzers, parts-tools

#1623 fuzzers: Fix some clean commands
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/fuzzaddr/common.mk
  fuzzers/065-gtp-common-pips/Makefile
  fuzzers/065b-gtp-common-pips/Makefile
Labels: parts-fuzzers

#1562 Populate all parts
  .github/kokoro/db-full.sh
  .github/kokoro/db-quick.sh
  .gitignore
  Makefile
  README.md
  database/artix7/mapping/parts.yaml
  database/kintex7/mapping/parts.yaml
  database/zynq7/mapping/devices.yaml
  database/zynq7/mapping/parts.yaml
  fuzzers/025-bram-config/generate.py
  prjxray/util.py
  settings/artix7/devices.yaml
  settings/artix7/resources.yaml
  settings/kintex7/devices.yaml
  settings/kintex7/resources.yaml
  settings/zynq7/devices.yaml
  settings/zynq7/resources.yaml
  utils/roi_all.py
  utils/update_parts.py
  utils/update_parts.tcl
  utils/update_resources.py
  utils/update_resources.tcl
Labels: parts-docs, parts-fuzzers, parts-infra, parts-third-party, parts-tools

#1633 Fix hostcheck
  .github/kokoro/steps/hostcheck.sh
Labels: parts-infra

#1628 cells_data: add clock information on ports.json
  docs/dev_database/common/cell_data.rst
  fuzzers/061-pcie-conf/generate_ports.tcl
  fuzzers/063-gtp-common-conf/generate_ports.tcl
  fuzzers/064-gtp-channel-conf/attrs.json
  fuzzers/064-gtp-channel-conf/generate_ports.tcl
  utils/make_ports.py
  utils/update_resources.py
  utils/update_resources.tcl
  utils/utils.tcl
Labels: parts-docs, parts-fuzzers, parts-infra, parts-tools
