Repository f4pga/prjxray, pull requests merged in 2021-01, with the labels that each got.

#1545 Add dummy spartan7 scripts until spartan7 CI is debugged.
  .github/kokoro/continuous-db-spartan7.cfg
  .github/kokoro/kokoro-cfg.py
  .github/kokoro/nothing.sh
  .github/kokoro/presubmit-db-spartan7.cfg
Labels: merge-if-green, parts-infra

#1543 pcie: add to tilegrid
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/pcie/Makefile
  fuzzers/005-tilegrid/pcie/generate.tcl
  fuzzers/005-tilegrid/pcie/top.py
Labels: parts-fuzzers

#1539 Refactor fabric data in database
  .gitignore
  Makefile
  database/artix7/mapping/devices.yaml
  database/artix7/mapping/parts.yaml
  database/kintex7/mapping/devices.yaml
  database/kintex7/mapping/parts.yaml
  database/zynq7/mapping/devices.yaml
  database/zynq7/mapping/parts.yaml
  docs/db_dev_process/newpart.rst
  fuzzers/000-init-db/Makefile
  fuzzers/005-tilegrid/Makefile
  fuzzers/074-dump_all/Makefile
  fuzzers/074-dump_all/check_nodes.py
  fuzzers/074-dump_all/generate_grid.py
  fuzzers/074-dump_all/node_names.py
  fuzzers/Makefile
  fuzzers/run_fuzzer.py
  htmlgen/htmlgen.py
  minitests/roi_harness/arty-common.sh
  minitests/roi_harness/basys3-common.sh
  minitests/roi_harness/zybo-common.sh
  prjxray/db.py
  prjxray/lms_solver.py
  prjxray/segmaker.py
  prjxray/util.py
  settings/artix7.sh
  settings/artix7/resources.yaml
  settings/artix7_200t.sh
  settings/artix7_50t.sh
  settings/kintex7.sh
  settings/kintex7/resources.yaml
  settings/zynq7.sh
  settings/zynq7/resources.yaml
  settings/zynq7010.sh
  tests/test_util.py
  utils/environment.sh
  utils/test_data/db/mapping/devices.yaml
  utils/test_data/db/mapping/parts.yaml
  utils/test_data/db/mapping/resources.yaml
  utils/test_data/db/xc7a200t/tilegrid.json
  utils/test_data/db/xc7a200tffg1156-1/package_pins.csv
  utils/test_data/db/xc7a200tffg1156-1/part.json
  utils/test_fasm2frames.py
  utils/xyaml.py
Labels: parts-docs, parts-fuzzers, parts-minitests, parts-third-party, parts-tools

#1544 Add PCIe configuration fuzzer
  fuzzers/061-pcie-conf/Makefile
  fuzzers/061-pcie-conf/bits.dbf
  fuzzers/061-pcie-conf/generate.py
  fuzzers/061-pcie-conf/generate.tcl
  fuzzers/061-pcie-conf/params.py
  fuzzers/061-pcie-conf/top.py
  fuzzers/Makefile
  utils/mergedb.sh
Labels: parts-fuzzers, parts-tools

#1559 environment: fix environment set up
  fuzzers/run_fuzzer.py
  settings/artix7.sh
  settings/artix7_200t.sh
  settings/artix7_50t.sh
  settings/kintex7.sh
  settings/zynq7.sh
  settings/zynq7010.sh
  utils/create_environment.py
Labels: parts-fuzzers, parts-tools

#1547 gtp_common: add to tilegrid
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/fuzzaddr/common.mk
  fuzzers/005-tilegrid/fuzzaddr/generate.py
  fuzzers/005-tilegrid/gtp_common/Makefile
  fuzzers/005-tilegrid/gtp_common/generate.tcl
  fuzzers/005-tilegrid/gtp_common/top.py
Labels: parts-fuzzers

#1548 gtp_common: add conf fuzzer
  fuzzers/063-gtp-common-conf/Makefile
  fuzzers/063-gtp-common-conf/attrs.json
  fuzzers/063-gtp-common-conf/bits.dbf
  fuzzers/063-gtp-common-conf/generate.py
  fuzzers/063-gtp-common-conf/generate.tcl
  fuzzers/063-gtp-common-conf/pushdb.sh
  fuzzers/063-gtp-common-conf/top.py
  fuzzers/Makefile
  prjxray/segmaker.py
  utils/mergedb.sh
Labels: parts-fuzzers, parts-tools

#1551 005-tilegrid: Add GTP_CHANNEL tilegrid fuzzer
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/gtp_channel/Makefile
  fuzzers/005-tilegrid/gtp_channel/generate.tcl
  fuzzers/005-tilegrid/gtp_channel/top.py
Labels: parts-fuzzers, parts-tools

#1556 minitest: add lite-sata minitest to verify GTP status
  minitests/litex/nexys_video_sata/.gitignore
  minitests/litex/nexys_video_sata/Makefile
  minitests/litex/nexys_video_sata/README.md
  minitests/litex/nexys_video_sata/requirements.txt
  minitests/litex/nexys_video_sata/retarget.v
  minitests/litex/nexys_video_sata/tcl/par.tcl
  minitests/litex/nexys_video_sata/tcl/syn.tcl
Labels: parts-docs, parts-minitests

#1558 Add GTP_CHANNEL fuzzer
  fuzzers/064-gtp-channel-conf/Makefile
  fuzzers/064-gtp-channel-conf/attrs.json
  fuzzers/064-gtp-channel-conf/bits.dbf
  fuzzers/064-gtp-channel-conf/generate.py
  fuzzers/064-gtp-channel-conf/generate.tcl
  fuzzers/064-gtp-channel-conf/pushdb.sh
  fuzzers/064-gtp-channel-conf/top.py
  fuzzers/Makefile
  prjxray/segmaker.py
  utils/mergedb.sh
Labels: parts-fuzzers, parts-tools

#1565 minitest: add utility script to get unknown bits
  minitests/get_unknown_bits_count.sh
Labels: parts-minitests
