Repository f4pga/prjxray, pull requests merged in 2021-04, with the labels that each got.

#1627 Docu fixup and prevent AssertionError
  Makefile
  docs/db_dev_process/newpart.rst
  settings/artix7.sh
  settings/artix7_200t.sh
  settings/artix7_50t.sh
  settings/kintex7.sh
  settings/zynq7.sh
  settings/zynq7010.sh
  utils/create_environment.py
Labels: parts-docs, parts-tools

#1640 Minor fixups for #1627
  docs/db_dev_process/newpart.rst
  settings/artix7.sh
  settings/artix7_200t.sh
  settings/artix7_50t.sh
  settings/kintex7.sh
  settings/zynq7.sh
  settings/zynq7010.sh
Labels: parts-docs

#1641 030-iob: increase number of specimens
  fuzzers/030-iob/Makefile
Labels: parts-fuzzers
