Repository f4pga/prjxray, pull requests merged in 2021-02, with the labels that each got.

#1563 065-gtp-common-pips: add fuzzer to document GTP_COMMON_MID pips
  fuzzers/064-gtp-channel-conf/pushdb.sh
  fuzzers/065-gtp-common-pips/Makefile
  fuzzers/065-gtp-common-pips/bits.dbf
  fuzzers/065-gtp-common-pips/generate.py
  fuzzers/065-gtp-common-pips/generate.tcl
  fuzzers/065-gtp-common-pips/gtp_common_pip_list.tcl
  fuzzers/065-gtp-common-pips/output_cmt.tcl
  fuzzers/065-gtp-common-pips/top.py
  fuzzers/Makefile
  fuzzers/int_loop.sh
  fuzzers/pip_loop.mk
  prjxray/segmaker.py
  utils/mergedb.sh
Labels: parts-docs, parts-fuzzers, parts-minitests, parts-tools

#1572 005-tilegrid: add gtp_int_interface tile baseaddress
  fuzzers/005-tilegrid/Makefile
  fuzzers/005-tilegrid/add_tdb.py
  fuzzers/005-tilegrid/generate_full.py
  fuzzers/005-tilegrid/gtp_int_interface/Makefile
  fuzzers/005-tilegrid/gtp_int_interface/generate.tcl
  fuzzers/005-tilegrid/gtp_int_interface/top.py
Labels: parts-fuzzers

#1575 Add directory to repository cloning step
  README.md
Labels: parts-docs

#1566 063-gtp-common-conf: get features corresponding to IBUFDS -> GTP
  fuzzers/063-gtp-common-conf/README.md
  fuzzers/063-gtp-common-conf/generate.py
  fuzzers/063-gtp-common-conf/top.py
Labels: parts-docs, parts-fuzzers

#1573 Add GTP_INT_INTERFACE PIPs fuzzer
  fuzzers/066-gtp-int-pips/Makefile
  fuzzers/066-gtp-int-pips/bits.dbf
  fuzzers/066-gtp-int-pips/generate.py
  fuzzers/066-gtp-int-pips/generate.tcl
  fuzzers/066-gtp-int-pips/gtp_int_interface_pip_list.tcl
  fuzzers/066-gtp-int-pips/ports.py
  fuzzers/066-gtp-int-pips/top.py
  fuzzers/Makefile
  prjxray/segmaker.py
  utils/mergedb.sh
Labels: parts-fuzzers, parts-tools

#1577 065-gtp-common-pips: increase specimens count
  fuzzers/065-gtp-common-pips/Makefile
Labels: parts-fuzzers

#1576 062-pcie-int-pips: add DELAY PIPs fuzzer
  fuzzers/062-pcie-int-pips/Makefile
  fuzzers/062-pcie-int-pips/bits.dbf
  fuzzers/062-pcie-int-pips/generate.py
  fuzzers/062-pcie-int-pips/generate.tcl
  fuzzers/062-pcie-int-pips/pcie_int_interface_pip_list.tcl
  fuzzers/062-pcie-int-pips/ports.py
  fuzzers/062-pcie-int-pips/top.py
  fuzzers/Makefile
  utils/mergedb.sh
Labels: parts-fuzzers, parts-tools

#1584 063-gtp-common-conf: add DRP_ENABLE feature
  fuzzers/063-gtp-common-conf/generate.py
  fuzzers/063-gtp-common-conf/generate.tcl
  fuzzers/063-gtp-common-conf/top.py
Labels: parts-fuzzers

#1585 065-gtp-common-pips: fix overlapping piplist project names
  fuzzers/065-gtp-common-pips/gtp_common_pip_list.tcl
  fuzzers/065b-gtp-common-pips/gtp_common_pip_list.tcl
Labels: parts-fuzzers

#1586 030-iob: increase fuzzer efficiency
  fuzzers/030-iob/Makefile
  fuzzers/030-iob/top.py
Labels: parts-fuzzers

#1587 030-iob: add LVDS_25 and TMDS_33
  fuzzers/030-iob/Makefile
  fuzzers/030-iob/generate.py
  fuzzers/030-iob/process_rdb.py
  fuzzers/030-iob/top.py
Labels: parts-fuzzers

#1591 101-dsp-pips: solve DSP-related PIPs
  fuzzers/101-dsp-pips/Makefile
  fuzzers/101-dsp-pips/bits.dbf
  fuzzers/101-dsp-pips/dsp_pip_list.tcl
  fuzzers/101-dsp-pips/generate.py
  fuzzers/101-dsp-pips/generate.tcl
  fuzzers/101-dsp-pips/ports.py
  fuzzers/101-dsp-pips/top.py
  fuzzers/Makefile
Labels: parts-fuzzers

#1592 030-iob: improve rdb processing for LVDS and TMDS
  fuzzers/030-iob/process_rdb.py
Labels: parts-fuzzers
